### IMPORT BIBLIOTHEQUES

In [209]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

### IMPORT CSV

In [210]:
path = 'caract-2024.csv'
path2 = 'lieux-2024.csv'
path3 = 'usagers-2024.csv'
path4 = 'caract-2023.csv'
path5 = 'lieux-2023.csv'
path6 = 'usagers-2023.csv'
path7 = 'caract-2022.csv'
path8 = 'lieux-2022.csv'
path9 = 'usagers-2022.csv'

In [211]:
caract_2k24 = pd.read_csv(path, sep=";")
lieux_2k24 =  pd.read_csv(path2, sep=";")
us_2k24 = pd.read_csv(path3, sep=";")
caract_2k23 = pd.read_csv(path4, sep=";")
lieux_2k23 =  pd.read_csv(path5, sep=";")
us_2k23 = pd.read_csv(path6, sep=";")
caract_2k22 = pd.read_csv(path7, sep=";")
lieux_2k22 =  pd.read_csv(path8, sep=";")
us_2k22 = pd.read_csv(path9, sep=";")

C:\Users\Utilisateur\AppData\Local\Temp\ipykernel_1160\779305116.py:5: DtypeWarning: Columns (12) have mixed types. Specify dtype option on import or set low_memory=False.
  lieux_2k23 =  pd.read_csv(path5, sep=";")
C:\Users\Utilisateur\AppData\Local\Temp\ipykernel_1160\779305116.py:8: DtypeWarning: Columns (6) have mixed types. Specify dtype option on import or set low_memory=False.
  lieux_2k22 =  pd.read_csv(path8, sep=";")

### EXPLORATION DES DF

In [212]:
caract_2k22 = caract_2k22.rename(columns={ 'Accident_Id': 'Num_Acc'})

In [213]:
df_caract = pd.concat([caract_2k24, caract_2k23, caract_2k22])
df_lieux = pd.concat([lieux_2k24, lieux_2k23, lieux_2k22])
df_usagers = pd.concat([us_2k24, us_2k23, us_2k22])

In [214]:
df_caract

,Num_Acc,jour,mois,an,hrmn,lum,dep,com,agg,int,atm,col,adr,lat,long
0,202400000001,25,3,2024,07:40,2,70,70285,1,1,5,1,D438,"47,56277000","6,75832000"
1,202400000002,20,3,2024,15:05,1,21,21054,2,3,7,6,HOTEL DIEU (RUE DE L'),"47,02109000","4,83755000"
2,202400000003,22,3,2024,19:30,2,15,15012,1,1,1,6,Allée des Tilleuls,"44,90238400","2,49641800"
3,202400000004,24,3,2024,17:50,1,14,14118,2,3,7,3,128 Rue d'Authie,"49,19166000","-0,39851000"
4,202400000005,25,3,2024,19:35,5,13,13106,1,3,2,5,BEDOULE (CHEMIN DE LA),"43,39000000","5,35000000"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
55297,202200055298,1,1,2022,03:50,3,2B,2B293,1,1,1,6,D71,"42,3101650000","9,4785830000"
55298,202200055299,1,1,2022,07:20,3,84,84074,1,1,1,6,D973,"43,7531640000","5,2244760000"
55299,202200055300,1,1,2022,04:27,3,74,74001,1,1,9,6,D22,"46,2825320000","6,7328060000"
55300,202200055301,1,1,2022,08:40,1,81,81099,1,3,1,3,Chemin Toulze,"43,9272650000","1,9156370000"
55301,202200055302,1,3,2022,16:55,1,41,41018,2,1,1,2,RD956 - Pont Charles De Gaulle,"47,5944040000","1,3533290000"

In [215]:
df_lieux

,Num_Acc,catr,voie,v1,v2,circ,nbv,vosp,prof,pr,pr1,plan,lartpc,larrout,surf,infra,situ,vma
0,202400000001,3,D438,0,NaN,2,2,0,1,1,260,2,NaN,7,1,0,1,90
1,202400000002,4,HOTEL DIEU (RUE DE L'),0,NaN,2,2,0,1,-1,-1,1,NaN,-1,9,0,1,30
2,202400000002,4,POTERNE (RUE),0,NaN,1,1,0,1,-1,-1,1,NaN,-1,9,0,1,30
3,202400000003,4,TILLEULS (ALLEE DES),0,NaN,2,2,0,1,-1,-1,1,NaN,-1,1,0,3,50
4,202400000004,4,AUTHIE (N° 106 PAIRS -115 IMPAIRS),0,NaN,2,4,0,1,-1,-1,1,NaN,-1,1,9,1,50
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
55297,202200055298,3,71,-1,NaN,2,2,0,2,(1),(1),1,NaN,-1,1,0,8,80
55298,202200055299,3,973,-1,NaN,2,2,0,1,29,0,2,NaN,-1,1,0,3,80
55299,202200055300,3,22,0,D,2,2,0,1,39,553,2,NaN,-1,7,0,3,80
55300,202200055301,3,18,-1,D,2,2,0,1,30,125,1,NaN,-1,1,0,1,80
55301,202200055302,3,NaN,-1,NaN,3,4,0,1,(1),(1),1,NaN,4,1,0,1,70

In [216]:
df_usagers

,Num_Acc,id_usager,id_vehicule,num_veh,place,catu,grav,sexe,an_nais,trajet,secu1,secu2,secu3,locp,actp,etatp
0,202400000001,203 988 581,155 781 758,A01,1,1,3,1,2003.0,2,1,-1,-1,-1,-1,-1
1,202400000001,203 988 582,155 781 759,B01,1,1,1,1,1997.0,4,1,-1,-1,-1,-1,-1
2,202400000002,203 988 579,155 781 757,A01,10,3,3,2,1927.0,5,0,-1,-1,3,3,1
3,202400000002,203 988 580,155 781 757,A01,1,1,1,1,1987.0,4,1,0,-1,3,3,1
4,202400000003,203 988 574,155 781 756,A01,2,2,4,2,2007.0,5,8,0,-1,-1,-1,-1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
126657,202200055301,968 230,715 631,A01,1,1,1,2,2002.0,5,1,-1,-1,0,0,-1
126658,202200055301,968 231,715 631,A01,8,2,3,2,2004.0,5,1,-1,-1,0,0,-1
126659,202200055301,968 232,715 632,B01,1,1,4,2,1953.0,5,1,-1,-1,0,0,-1
126660,202200055302,968 228,715 629,A01,1,1,3,1,1992.0,1,2,6,-1,-1,-1,-1
126661,202200055302,968 229,715 630,B01,1,1,1,1,2000.0,-1,1,-1,-1,-1,-1,-1

### ISNA, DESCRIBE, DUPLICATAS

In [217]:
#4932 valeurs manquantes pour l'adresse, c'est peu
#Mais cette colonne est-elle vraiment utile ? 
#Nous avons beaucoup d'autres colonnes pour localiser l'accident
#Je vais surement supprimer cette colonne pour son manque de pertinence

In [218]:
df_caract.isna().sum()

Num_Acc       0
jour          0
mois          0
an            0
hrmn          0
lum           0
dep           0
com           0
agg           0
int           0
atm           0
col           0
adr        4932
lat           0
long          0
dtype: int64

In [219]:
#BEAUCOUP TROP DE VALEURS MANQUANTES POUR v2 et larptc, ces colonnes sont useless

In [220]:
df_lieux.isna().sum()

Num_Acc         0
catr            0
voie        30883
v1              0
v2         179355
circ            0
nbv             0
vosp            0
prof            0
pr              0
pr1             0
plan            0
lartpc     196318
larrout         0
surf            0
infra           0
situ            0
vma             0
dtype: int64

In [221]:
#8000 années de naissances manquantes, Etant donné que cela représente une infime partie du df 
#Peut-etre puis-je combler ces valeurs en prennant la médiane ou la moyenne ?

In [222]:
df_usagers.isna().sum()

Num_Acc           0
id_usager         0
id_vehicule       0
num_veh           0
place             0
catu              0
grav              0
sexe              0
an_nais        8051
trajet            0
secu1             0
secu2             0
secu3             0
locp              0
actp              0
etatp             0
dtype: int64

In [223]:
df_caract.describe()

,Num_Acc,jour,mois,an,lum,agg,int,atm,col
count,1.645260e+05,164526.000000,164526.000000,164526.000000,164526.000000,164526.000000,164526.000000,164526.000000,164526.000000
mean,2.022995e+11,15.556569,6.649539,2022.994530,1.938162,1.628302,2.085567,1.633420,4.019875
std,8.165534e+07,8.721380,3.354861,0.816555,1.487912,0.483260,2.016364,1.701532,1.979544
min,2.022000e+11,1.000000,1.000000,2022.000000,-1.000000,1.000000,-1.000000,-1.000000,-1.000000
25%,2.022000e+11,8.000000,4.000000,2022.000000,1.000000,1.000000,1.000000,1.000000,3.000000
50%,2.023000e+11,15.000000,7.000000,2023.000000,1.000000,2.000000,1.000000,1.000000,3.000000
75%,2.024000e+11,23.000000,10.000000,2024.000000,3.000000,2.000000,2.000000,1.000000,6.000000
max,2.024001e+11,31.000000,12.000000,2024.000000,5.000000,2.000000,9.000000,9.000000,7.000000

In [224]:
df_lieux.describe()

,Num_Acc,catr,v1,circ,vosp,prof,plan,surf,infra,situ,vma
count,1.964100e+05,196410.000000,196410.000000,196410.000000,196410.000000,196410.000000,196410.000000,196410.000000,196410.000000,196410.000000,196410.000000
mean,2.023076e+11,3.389578,-0.213518,1.747584,0.197475,1.217713,1.283886,1.262441,0.815427,1.628950,54.855674
std,7.958855e+07,1.156117,0.423322,0.919564,0.730587,0.535106,0.665069,0.804881,2.175524,1.635727,26.294458
min,2.022000e+11,1.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000
25%,2.022000e+11,3.000000,0.000000,1.000000,0.000000,1.000000,1.000000,1.000000,0.000000,1.000000,50.000000
50%,2.023000e+11,3.000000,0.000000,2.000000,0.000000,1.000000,1.000000,1.000000,0.000000,1.000000,50.000000
75%,2.024000e+11,4.000000,0.000000,2.000000,0.000000,1.000000,1.000000,1.000000,0.000000,1.000000,70.000000
max,2.024001e+11,9.000000,3.000000,4.000000,3.000000,4.000000,4.000000,9.000000,9.000000,8.000000,900.000000

In [225]:
df_usagers.describe()

,Num_Acc,place,catu,grav,sexe,an_nais,trajet,secu1,secu2,secu3,locp,etatp
count,3.776380e+05,377638.000000,377638.000000,377638.000000,377638.000000,369587.000000,377638.000000,377638.000000,377638.000000,377638.000000,377638.000000,377638.000000
mean,2.022996e+11,2.093868,1.332758,2.516942,1.270778,1984.250775,3.124355,1.906045,0.863806,-0.867762,-0.205814,-0.820248
std,8.166330e+07,2.583378,0.610660,1.378004,0.563677,19.150376,2.766093,2.347074,2.949739,0.988828,1.254496,0.631384
min,2.022000e+11,-1.000000,1.000000,-1.000000,-1.000000,1913.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000
25%,2.022000e+11,1.000000,1.000000,1.000000,1.000000,1971.000000,0.000000,1.000000,-1.000000,-1.000000,-1.000000,-1.000000
50%,2.023000e+11,1.000000,1.000000,3.000000,1.000000,1988.000000,4.000000,1.000000,0.000000,-1.000000,0.000000,-1.000000
75%,2.024000e+11,2.000000,2.000000,4.000000,2.000000,2000.000000,5.000000,2.000000,0.000000,-1.000000,0.000000,-1.000000
max,2.024001e+11,10.000000,3.000000,4.000000,2.000000,2024.000000,9.000000,9.000000,9.000000,9.000000,9.000000,3.000000

In [226]:
df_caract.duplicated().sum()

np.int64(0)

In [227]:
df_lieux.duplicated().sum()

np.int64(2)

In [228]:
df_usagers.duplicated().sum()

np.int64(0)

In [229]:
df_lieux = df_lieux.drop_duplicates()

### Nettoyage des données caractéristiques

In [230]:
df_caract = df_caract.drop(columns= 'adr')

In [231]:
df_caract["jour"] = df_caract["jour"].astype(str)
df_caract["mois"] = df_caract["mois"].astype(str)
df_caract["an"] = df_caract["an"].astype(str)

In [232]:
df_caract["Date"] = df_caract["jour"] + '/' +  df_caract["mois"] + '/' + df_caract["an"]
df_caract = df_caract.drop(columns = 'jour')
df_caract = df_caract.drop(columns = 'mois')
df_caract = df_caract.drop(columns = 'an')

In [233]:
df_caract['Date'] = pd.to_datetime(df_caract['Date'] + ' ' + df_caract['hrmn'])

C:\Users\Utilisateur\AppData\Local\Temp\ipykernel_1160\435676000.py:1: UserWarning: Parsing dates in %d/%m/%Y %H:%M format when dayfirst=False (the default) was specified. Pass `dayfirst=True` or specify a format to silence this warning.
  df_caract['Date'] = pd.to_datetime(df_caract['Date'] + ' ' + df_caract['hrmn'])

In [234]:
df_caract = df_caract.drop(columns= 'hrmn')

In [235]:
df_caract

,Num_Acc,lum,dep,com,agg,int,atm,col,lat,long,Date
0,202400000001,2,70,70285,1,1,5,1,"47,56277000","6,75832000",2024-03-25 07:40:00
1,202400000002,1,21,21054,2,3,7,6,"47,02109000","4,83755000",2024-03-20 15:05:00
2,202400000003,2,15,15012,1,1,1,6,"44,90238400","2,49641800",2024-03-22 19:30:00
3,202400000004,1,14,14118,2,3,7,3,"49,19166000","-0,39851000",2024-03-24 17:50:00
4,202400000005,5,13,13106,1,3,2,5,"43,39000000","5,35000000",2024-03-25 19:35:00
...,...,...,...,...,...,...,...,...,...,...,...
55297,202200055298,3,2B,2B293,1,1,1,6,"42,3101650000","9,4785830000",2022-01-01 03:50:00
55298,202200055299,3,84,84074,1,1,1,6,"43,7531640000","5,2244760000",2022-01-01 07:20:00
55299,202200055300,3,74,74001,1,1,9,6,"46,2825320000","6,7328060000",2022-01-01 04:27:00
55300,202200055301,1,81,81099,1,3,1,3,"43,9272650000","1,9156370000",2022-01-01 08:40:00
55301,202200055302,1,41,41018,2,1,1,2,"47,5944040000","1,3533290000",2022-03-01 16:55:00

### Nettoyage des données lieux

In [236]:
# Je décide drop voie, qui ne sera pas utile pour la suite du travail

In [237]:
df_lieux = df_lieux.drop(columns={'v2', 'lartpc', 'voie'})

In [238]:
df_lieux.isna().sum()

Num_Acc    0
catr       0
v1         0
circ       0
nbv        0
vosp       0
prof       0
pr         0
pr1        0
plan       0
larrout    0
surf       0
infra      0
situ       0
vma        0
dtype: int64

### Nettoyage des données usagers

In [239]:
âge_médian = df_usagers["an_nais"].median()
df_usagers = df_usagers.fillna({"an_nais" : âge_médian})

In [240]:
df_MERGE = pd.merge(df_caract, df_lieux, on="Num_Acc")
df_all = pd.merge(df_MERGE, df_usagers, on="Num_Acc")

### Analyse et nettoyages des données mergées

In [241]:
df_all

,Num_Acc,lum,dep,com,agg,int,atm,col,lat,long,Date,catr,v1,circ,nbv,vosp,prof,pr,pr1,plan,larrout,surf,infra,situ,vma,id_usager,id_vehicule,num_veh,place,catu,grav,sexe,an_nais,trajet,secu1,secu2,secu3,locp,actp,etatp
0,202400000001,2,70,70285,1,1,5,1,"47,56277000","6,75832000",2024-03-25 07:40:00,3,0,2,2,0,1,1,260,2,7,1,0,1,90,203 988 581,155 781 758,A01,1,1,3,1,2003.0,2,1,-1,-1,-1,-1,-1
1,202400000001,2,70,70285,1,1,5,1,"47,56277000","6,75832000",2024-03-25 07:40:00,3,0,2,2,0,1,1,260,2,7,1,0,1,90,203 988 582,155 781 759,B01,1,1,1,1,1997.0,4,1,-1,-1,-1,-1,-1
2,202400000002,1,21,21054,2,3,7,6,"47,02109000","4,83755000",2024-03-20 15:05:00,4,0,2,2,0,1,-1,-1,1,-1,9,0,1,30,203 988 579,155 781 757,A01,10,3,3,2,1927.0,5,0,-1,-1,3,3,1
3,202400000002,1,21,21054,2,3,7,6,"47,02109000","4,83755000",2024-03-20 15:05:00,4,0,2,2,0,1,-1,-1,1,-1,9,0,1,30,203 988 580,155 781 757,A01,1,1,1,1,1987.0,4,1,0,-1,3,3,1
4,202400000002,1,21,21054,2,3,7,6,"47,02109000","4,83755000",2024-03-20 15:05:00,4,0,1,1,0,1,-1,-1,1,-1,9,0,1,30,203 988 579,155 781 757,A01,10,3,3,2,1927.0,5,0,-1,-1,3,3,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
452884,202200055301,1,81,81099,1,3,1,3,"43,9272650000","1,9156370000",2022-01-01 08:40:00,3,-1,2,2,0,1,30,125,1,-1,1,0,1,80,968 230,715 631,A01,1,1,1,2,2002.0,5,1,-1,-1,0,0,-1
452885,202200055301,1,81,81099,1,3,1,3,"43,9272650000","1,9156370000",2022-01-01 08:40:00,3,-1,2,2,0,1,30,125,1,-1,1,0,1,80,968 231,715 631,A01,8,2,3,2,2004.0,5,1,-1,-1,0,0,-1
452886,202200055301,1,81,81099,1,3,1,3,"43,9272650000","1,9156370000",2022-01-01 08:40:00,3,-1,2,2,0,1,30,125,1,-1,1,0,1,80,968 232,715 632,B01,1,1,4,2,1953.0,5,1,-1,-1,0,0,-1
452887,202200055302,1,41,41018,2,1,1,2,"47,5944040000","1,3533290000",2022-03-01 16:55:00,3,-1,3,4,0,1,(1),(1),1,4,1,0,1,70,968 228,715 629,A01,1,1,3,1,1992.0,1,2,6,-1,-1,-1,-1
452888,202200055302,1,41,41018,2,1,1,2,"47,5944040000","1,3533290000",2022-03-01 16:55:00,3,-1,3,4,0,1,(1),(1),1,4,1,0,1,70,968 229,715 630,B01,1,1,1,1,2000.0,-1,1,-1,-1,-1,-1,-1

In [242]:
df_all.duplicated().sum()

np.int64(7123)

In [243]:
#Voir quelques exemples de duplicatas
duplicates = df_all[df_all.duplicated()]
duplicates.head(20)

,Num_Acc,lum,dep,com,agg,int,atm,col,lat,long,Date,catr,v1,circ,nbv,vosp,prof,pr,pr1,plan,larrout,surf,infra,situ,vma,id_usager,id_vehicule,num_veh,place,catu,grav,sexe,an_nais,trajet,secu1,secu2,secu3,locp,actp,etatp
219,202400000068,5,54,54382,2,3,1,3,"49,54523000","5,78430000",2024-02-17 19:23:00,4,0,2,2,0,1,-1,-1,1,-1,1,0,1,50,203 988 399,155 781 632,A01,1,1,4,2,1964.0,0,1,0,-1,0,0,-1
220,202400000068,5,54,54382,2,3,1,3,"49,54523000","5,78430000",2024-02-17 19:23:00,4,0,2,2,0,1,-1,-1,1,-1,1,0,1,50,203 988 401,155 781 634,B01,1,1,3,1,2002.0,5,2,0,-1,0,0,-1
255,202400000082,1,37,37050,2,2,1,6,"47,34102222","0,72294492",2024-03-22 12:00:00,3,-1,2,2,0,1,-1,-1,1,-1,1,0,1,50,203 988 371,155 781 608,A01,1,1,1,2,1992.0,1,1,-1,-1,0,0,-1
256,202400000082,1,37,37050,2,2,1,6,"47,34102222","0,72294492",2024-03-22 12:00:00,3,-1,2,2,0,1,-1,-1,1,-1,1,0,1,50,203 988 372,155 781 608,A01,10,3,3,2,1963.0,3,0,-1,-1,4,3,1
794,202400000257,2,74,74012,2,3,1,3,"46,19188000","6,23676000",2024-03-22 18:10:00,4,0,2,2,0,1,0,1,1,-1,1,5,1,50,203 987 950,155 781 305,B01,1,1,4,2,1975.0,0,2,0,-1,-1,-1,-1
795,202400000257,2,74,74012,2,3,1,3,"46,19188000","6,23676000",2024-03-22 18:10:00,4,0,2,2,0,1,0,1,1,-1,1,5,1,50,203 987 951,155 781 306,A01,1,1,1,-1,1988.0,0,8,0,-1,-1,-1,-1
867,202400000281,2,13,13039,2,2,1,3,"43,45790000","4,92827000",2024-09-19 19:44:00,4,0,2,2,0,1,0,0,1,-1,1,0,1,30,203 987 893,155 781 267,A01,1,1,1,1,2005.0,4,1,0,-1,-1,-1,-1
868,202400000281,2,13,13039,2,2,1,3,"43,45790000","4,92827000",2024-09-19 19:44:00,4,0,2,2,0,1,0,0,1,-1,1,0,1,30,203 987 894,155 781 268,B01,1,1,4,1,1967.0,5,1,0,-1,-1,-1,-1
981,202400000320,1,75,75107,2,2,7,3,"48,85410700","2,30639600",2024-09-19 09:16:00,4,0,2,1,0,1,-1,-1,1,-1,1,0,1,30,203 987 803,155 781 191,A01,1,1,1,2,1969.0,5,1,8,-1,0,0,-1
982,202400000320,1,75,75107,2,2,7,3,"48,85410700","2,30639600",2024-09-19 09:16:00,4,0,2,1,0,1,-1,-1,1,-1,1,0,1,30,203 987 805,155 781 193,B01,1,1,3,2,1996.0,5,8,0,-1,0,0,-1
1000,202400000326,1,94,94081,2,3,1,3,"48,78805000","2,42073300",2024-09-17 16:56:00,3,0,2,2,0,1,0,0,1,-1,1,0,1,50,203 987 792,155 781 182,A01,1,1,4,1,1977.0,4,2,6,-1,-1,-1,-1
1001,202400000326,1,94,94081,2,3,1,3,"48,78805000","2,42073300",2024-09-17 16:56:00,3,0,2,2,0,1,0,0,1,-1,1,0,1,50,203 987 793,155 781 183,B01,1,1,1,2,1977.0,1,1,0,-1,-1,-1,-1
1021,202400000333,1,95,95280,2,2,1,3,"49,03091846","2,45953202",2024-02-12 10:15:00,4,0,2,2,0,1,0,0,1,-1,1,5,1,50,203 987 777,155 781 172,B01,2,2,4,2,1976.0,4,1,0,-1,0,0,-1
1022,202400000333,1,95,95280,2,2,1,3,"49,03091846","2,45953202",2024-02-12 10:15:00,4,0,2,2,0,1,0,0,1,-1,1,5,1,50,203 987 778,155 781 172,B01,4,2,4,1,1992.0,4,1,0,-1,0,0,-1
1023,202400000333,1,95,95280,2,2,1,3,"49,03091846","2,45953202",2024-02-12 10:15:00,4,0,2,2,0,1,0,0,1,-1,1,5,1,50,203 987 779,155 781 172,B01,1,1,1,1,1988.0,4,1,0,-1,0,0,-1
1024,202400000333,1,95,95280,2,2,1,3,"49,03091846","2,45953202",2024-02-12 10:15:00,4,0,2,2,0,1,0,0,1,-1,1,5,1,50,203 987 781,155 781 174,A01,1,1,3,2,2003.0,5,1,0,-1,0,0,-1
1054,202400000343,5,93,93050,2,2,1,3,"48,85892000","2,52070000",2024-09-19 01:05:00,3,0,2,8,0,1,1,0,1,-1,1,0,1,50,203 987 753,155 781 150,A01,1,1,1,1,2003.0,5,1,5,0,-1,-1,-1
1055,202400000343,5,93,93050,2,2,1,3,"48,85892000","2,52070000",2024-09-19 01:05:00,3,0,2,8,0,1,1,0,1,-1,1,0,1,50,203 987 754,155 781 151,B01,1,1,4,1,1984.0,5,1,0,0,-1,-1,-1
1446,202400000471,5,73,73065,2,2,1,7,"45,59019556","5,91822088",2024-05-01 21:40:00,4,0,2,2,0,1,-1,-1,1,-1,1,0,1,30,203 987 423,155 780 910,A01,1,1,3,1,2003.0,0,8,0,-1,-1,-1,-1
1474,202400000479,1,84,84007,2,2,1,6,"43,94471000","4,79942000",2024-09-18 10:45:00,4,0,2,2,0,1,0,1,1,-1,1,0,1,50,203 987 402,155 780 900,A01,10,3,4,2,1948.0,0,0,-1,-1,3,3,1

In [244]:
#ICI LES DUPLICATAS SONT DES VALEURS PERTINENTES, CAR PLUSIEURS USAGERS PEUVENT ETRE CONCERNES PAR LE MEME ACCIDENT
# PEUT-ETRE N'AURAI-JE PAS DU SUPPRIMER LES DEUX DUPLICATAS PLUS TOT MAIS YOLO

In [245]:
for col in df_all.columns:
    print(f"{col}")
    print(df_all[col].value_counts())
    print("\n")

Num_Acc
Num_Acc
202300008814    108
202400041600     96
202300043857     65
202400034184     56
202400033079     51
               ...
202200055293      1
202200055271      1
202200055270      1
202200055269      1
202200055288      1
Name: count, Length: 164526, dtype: int64


lum
lum
 1    299634
 5     75248
 3     44330
 2     29001
 4      4669
-1         7
Name: count, dtype: int64


dep
dep
75     42948
93     23127
92     19486
13     18221
94     18084
       ...
90       377
978      205
977       70
986       59
975       17
Name: count, Length: 107, dtype: int64


com
com
75116    4358
97302    3537
75117    3378
75115    3214
75112    3155
         ...
26018       1
95523       1
22185       1
11192       1
17350       1
Name: count, Length: 19180, dtype: int64


agg
agg
2    290247
1    162642
Name: count, dtype: int64


int
int
 1    238832
 2     80103
 3     72669
 6     21853
 9     17813
 4     12772
 7      4168
 5      3508
 8      1142
-1        29
Name: count, dtype: int64


atm
atm
 1    357154
 2     50877
 8     18013
 3     10891
 7      8083
 5      3462
 9      1799
 4      1369
 6      1232
-1         9
Name: count, dtype: int64


col
col
 3    161224
 6    105293
 2     60862
 1     52817
 4     25239
 7     24976
 5     22304
-1       174
Name: count, dtype: int64


lat
lat
46,73494100      108
48,60265200       96
49,20562600       65
48,97456000       56
 -17,75600000     56
                ...
47,0735160216      1
43,1417670000      1
48,8234094890      1
47,9696350000      1
48,2222210000      1
Name: count, Length: 156369, dtype: int64


long
long
2,79176100        108
5,68124100         96
6,12026500         65
2,81510000         56
 -148,73600000     56
                 ...
4,1904150000        1
0,8551290479        1
 -0,5325240000      1
6,7328060000        1
5,2244760000        1
Name: count, Length: 157578, dtype: int64


Date
Date
2023-07-10 10:50:00    110
2024-02-23 08:20:00     98
2023-04-03 05:10:00     65
2024-09-23 16:27:00     56
2023-06-20 17:15:00     55
                      ...
2022-01-22 08:00:00      1
2022-01-22 11:57:00      1
2022-01-01 16:15:00      1
2022-01-01 23:10:00      1
2022-01-01 20:40:00      1
Name: count, Length: 124582, dtype: int64


catr
catr
4    191163
3    170022
1     43293
2     29828
7     14111
6      2635
9      1478
5       359
Name: count, dtype: int64


v1
v1
 0    354706
-1     97500
 2       593
 3        90
Name: count, dtype: int64


circ
circ
 2    275428
 1     86782
 3     60157
-1     27879
 4      2643
Name: count, dtype: int64


nbv
nbv
2               239855
1                43276
4                37785
3                32704
2                30957
 -1              19191
0                11600
6                 8475
4                 6770
1                 4843
5                 4799
3                 4495
8                 2012
6                 1437
5                 1081
0                  974
7                  571
-1                 494
8                  428
10                 334
#VALEURMULTI       251
9                  153
7                  123
12                 106
10                  56
9                   45
11                  29
12                  25
11                  18
#ERREUR              2
Name: count, dtype: int64


vosp
vosp
 0    378854
 1     23056
-1     18080
 3     17287
 2     15612
Name: count, dtype: int64


prof
prof
 1    372763
 2     66923
 3      6855
 4      5693
-1       655
Name: count, dtype: int64


pr
pr
 -1     126977
0        92264
(1)      40994
1        22440
2         9948
         ...
399          1
484          1
851          1
800          1
2883         1
Name: count, Length: 583, dtype: int64


pr1
pr1
 -1     127600
0        99125
(1)      41415
1        14678
500      13345
         ...
6199         1
1714         1
2113         1
1342         1
1307         1
Name: count, Length: 1843, dtype: int64


plan
plan
 1    376496
 2     36500
 3     34397
 4      4997
-1       499
Name: count, dtype: int64


larrout
larrout
 -1     348640
7        24486
5,5      16436
4        12741
5        11086
         ...
8,85         1
3,75         1
5,25         1
5,79         1
13,3         1
Name: count, Length: 137, dtype: int64


surf
surf
 1    363272
 2     83735
 9      1648
 7      1447
 3       696
-1       605
 5       581
 8       471
 6       238
 4       196
Name: count, dtype: int64


infra
infra
 0    376349
 5     30184
 9     14695
 2      7214
-1      5229
 3      5218
 1      5059
 6      4109
 8      3152
 4      1366
 7       314
Name: count, dtype: int64


situ
situ
 1    391100
 3     20169
 8     14897
 5     10162
 4      7859
 6      5700
 2      2423
-1       579
Name: count, dtype: int64


vma
vma
 50     201339
 30      76821
 80      55681
 90      36707
 70      31254
-1       20494
 110     15520
 130     10403
 20       1449
 60        856
 10        649
 40        450
 25        314
 15        225
 5         168
 100       127
 45        123
 1          73
 500        69
 2          35
 6          29
 3          22
 300        20
 35         15
 95          8
 75          5
 4           4
 900         4
 700         4
 301         3
 31          3
 65          3
 23          3
 16          2
 140         2
 0           2
 800         1
 85          1
 55          1
Name: count, dtype: int64


id_usager
id_usager
203 766 993    5
203 766 994    5
203 766 995    5
203 869 043    5
203 869 044    5
              ..
968 252        1
968 253        1
968 248        1
968 246        1
968 247        1
Name: count, Length: 377638, dtype: int64


id_vehicule
id_vehicule
155 664 943    104
155 708 468     94
155 602 779     65
155 721 557     56
155 723 488     51
              ...
715 633          1
715 634          1
715 637          1
715 640          1
715 639          1
Name: count, Length: 280692, dtype: int64


num_veh
num_veh
A01     269912
B01     156359
C01      15370
Z01       6129
D01       3112
         ...
Q01          1
S01          1
W01          1
UB01         1
OB01         1
Name: count, Length: 75, dtype: int64


place
place
 1     337978
 2      49898
 10     33776
 3       8789
 4       8262
 9       4528
 7       4300
 5       2614
 8       2067
 6        663
-1         14
Name: count, dtype: int64


catu
catu
1    338153
2     80961
3     33775
Name: count, dtype: int64


grav
grav
 1    194573
 4    179863
 3     66673
 2     11383
-1       397
Name: count, dtype: int64


sexe
sexe
 1    302716
 2    140953
-1      9220
Name: count, dtype: int64


an_nais
an_nais
1988.0    17583
2001.0    12870
2002.0    12822
2000.0    12763
2003.0    12731
          ...
1915.0        3
1920.0        2
1914.0        1
1917.0        1
1919.0        1
Name: count, Length: 110, dtype: int64


trajet
trajet
 5    162685
 0    121000
 1     58655
 4     40040
 9     37214
 3     13155
 2     10416
-1      9724
Name: count, dtype: int64


secu1
secu1
 1    260821
 2     80731
 8     56148
 0     42763
-1      8603
 3      2576
 6       428
 9       424
 4       299
 5        88
 7         8
Name: count, dtype: int64


secu2
secu2
-1    196497
 0    165855
 6     42808
 8     34995
 4      4704
 5      4183
 9      1495
 1       793
 3       641
 7       504
 2       414
Name: count, dtype: int64


secu3
secu3
-1    432579
 0     15143
 9      3408
 8       899
 1       346
 6       267
 4       106
 5        66
 2        47
 7        15
 3        13
Name: count, dtype: int64


locp
locp
-1    218419
 0    198814
 3     11669
 2      7186
 4      6243
 1      4630
 5      2785
 9      1648
 6      1001
 8       462
 7        32
Name: count, dtype: int64


actp
actp
 -1    216760
0      200459
3       26870
9        2307
1        2152
B        1182
5        1144
2        1084
A         404
4         333
6          81
7          76
8          37
Name: count, dtype: int64


etatp
etatp
-1    417242
 1     27277
 2      7020
 3      1350
Name: count, dtype: int64

In [246]:
ratio_minus_one = (df_all == -1).mean()
cols_trash = ratio_minus_one[ratio_minus_one > 0.9]

print(f"Colonnes supprimées (>90% de -1) : {cols_trash}")

Colonnes supprimées (>90% de -1) : secu3    0.955155
etatp    0.921290
dtype: float64

In [247]:
cols_to_keep = df_all.columns[(df_all == -1).mean() <= 0.9]

df = df_all[cols_to_keep]

In [248]:
df

,Num_Acc,lum,dep,com,agg,int,atm,col,lat,long,Date,catr,v1,circ,nbv,vosp,prof,pr,pr1,plan,larrout,surf,infra,situ,vma,id_usager,id_vehicule,num_veh,place,catu,grav,sexe,an_nais,trajet,secu1,secu2,locp,actp
0,202400000001,2,70,70285,1,1,5,1,"47,56277000","6,75832000",2024-03-25 07:40:00,3,0,2,2,0,1,1,260,2,7,1,0,1,90,203 988 581,155 781 758,A01,1,1,3,1,2003.0,2,1,-1,-1,-1
1,202400000001,2,70,70285,1,1,5,1,"47,56277000","6,75832000",2024-03-25 07:40:00,3,0,2,2,0,1,1,260,2,7,1,0,1,90,203 988 582,155 781 759,B01,1,1,1,1,1997.0,4,1,-1,-1,-1
2,202400000002,1,21,21054,2,3,7,6,"47,02109000","4,83755000",2024-03-20 15:05:00,4,0,2,2,0,1,-1,-1,1,-1,9,0,1,30,203 988 579,155 781 757,A01,10,3,3,2,1927.0,5,0,-1,3,3
3,202400000002,1,21,21054,2,3,7,6,"47,02109000","4,83755000",2024-03-20 15:05:00,4,0,2,2,0,1,-1,-1,1,-1,9,0,1,30,203 988 580,155 781 757,A01,1,1,1,1,1987.0,4,1,0,3,3
4,202400000002,1,21,21054,2,3,7,6,"47,02109000","4,83755000",2024-03-20 15:05:00,4,0,1,1,0,1,-1,-1,1,-1,9,0,1,30,203 988 579,155 781 757,A01,10,3,3,2,1927.0,5,0,-1,3,3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
452884,202200055301,1,81,81099,1,3,1,3,"43,9272650000","1,9156370000",2022-01-01 08:40:00,3,-1,2,2,0,1,30,125,1,-1,1,0,1,80,968 230,715 631,A01,1,1,1,2,2002.0,5,1,-1,0,0
452885,202200055301,1,81,81099,1,3,1,3,"43,9272650000","1,9156370000",2022-01-01 08:40:00,3,-1,2,2,0,1,30,125,1,-1,1,0,1,80,968 231,715 631,A01,8,2,3,2,2004.0,5,1,-1,0,0
452886,202200055301,1,81,81099,1,3,1,3,"43,9272650000","1,9156370000",2022-01-01 08:40:00,3,-1,2,2,0,1,30,125,1,-1,1,0,1,80,968 232,715 632,B01,1,1,4,2,1953.0,5,1,-1,0,0
452887,202200055302,1,41,41018,2,1,1,2,"47,5944040000","1,3533290000",2022-03-01 16:55:00,3,-1,3,4,0,1,(1),(1),1,4,1,0,1,70,968 228,715 629,A01,1,1,3,1,1992.0,1,2,6,-1,-1
452888,202200055302,1,41,41018,2,1,1,2,"47,5944040000","1,3533290000",2022-03-01 16:55:00,3,-1,3,4,0,1,(1),(1),1,4,1,0,1,70,968 229,715 630,B01,1,1,1,1,2000.0,-1,1,-1,-1,-1

In [249]:
df['actp'] = pd.to_numeric(df['actp'], errors='coerce').astype('Int64')

C:\Users\Utilisateur\AppData\Local\Temp\ipykernel_1160\2993073626.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['actp'] = pd.to_numeric(df['actp'], errors='coerce').astype('Int64')

In [250]:
df['nbv'] = pd.to_numeric(df['nbv'], errors='coerce').astype('Int64')

C:\Users\Utilisateur\AppData\Local\Temp\ipykernel_1160\3512330074.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['nbv'] = pd.to_numeric(df['nbv'], errors='coerce').astype('Int64')

In [251]:
def clean_onisr_data(df):
    df = df.replace(-1, np.nan)
    cols_zero_is_nan = ['trajet', 'locp', 'actp', 'lat', 'long']
    df[cols_zero_is_nan] = df[cols_zero_is_nan].replace(0, np.nan)

    nan_ratio = df.isna().mean()
    cols_to_drop = nan_ratio[nan_ratio > 0.9].index
    print(f"Colonnes supprimées (>90% de valeurs nulles) : {list(cols_to_drop)}")
    df = df.drop(columns=cols_to_drop)

    df['vma'] = df['vma'].fillna(df.groupby('catr')['vma'].transform('median'))

    df['date_dt'] = pd.to_datetime(df['Date'])
    df['age_usager'] = df['date_dt'].dt.year - df['an_nais']
    
    critical_cols = [c for c in ['atm', 'lum', 'int', 'grav'] if c in df.columns]
    df = df.dropna(subset=critical_cols)
    
    #Suppression des colonnes qui ont plus de 50% de valeurs nulles
    
    limit = len(df) * 0.5
    df = df.dropna(thresh=int(limit), axis=1)

    return df

df_clean = clean_onisr_data(df)

Colonnes supprimées (>90% de valeurs nulles) : ['locp', 'actp']

In [252]:
df_clean

,Num_Acc,lum,dep,com,agg,int,atm,col,lat,long,Date,catr,v1,circ,nbv,vosp,prof,pr,pr1,plan,larrout,surf,infra,situ,vma,id_usager,id_vehicule,num_veh,place,catu,grav,sexe,an_nais,trajet,secu1,secu2,date_dt,age_usager
0,202400000001,2.0,70,70285,1,1.0,5.0,1.0,"47,56277000","6,75832000",2024-03-25 07:40:00,3,0.0,2.0,2,0.0,1.0,1,260,2.0,7,1.0,0.0,1.0,90.0,203 988 581,155 781 758,A01,1.0,1,3.0,1.0,2003.0,2.0,1.0,NaN,2024-03-25 07:40:00,21.0
1,202400000001,2.0,70,70285,1,1.0,5.0,1.0,"47,56277000","6,75832000",2024-03-25 07:40:00,3,0.0,2.0,2,0.0,1.0,1,260,2.0,7,1.0,0.0,1.0,90.0,203 988 582,155 781 759,B01,1.0,1,1.0,1.0,1997.0,4.0,1.0,NaN,2024-03-25 07:40:00,27.0
2,202400000002,1.0,21,21054,2,3.0,7.0,6.0,"47,02109000","4,83755000",2024-03-20 15:05:00,4,0.0,2.0,2,0.0,1.0,-1,-1,1.0,-1,9.0,0.0,1.0,30.0,203 988 579,155 781 757,A01,10.0,3,3.0,2.0,1927.0,5.0,0.0,NaN,2024-03-20 15:05:00,97.0
3,202400000002,1.0,21,21054,2,3.0,7.0,6.0,"47,02109000","4,83755000",2024-03-20 15:05:00,4,0.0,2.0,2,0.0,1.0,-1,-1,1.0,-1,9.0,0.0,1.0,30.0,203 988 580,155 781 757,A01,1.0,1,1.0,1.0,1987.0,4.0,1.0,0.0,2024-03-20 15:05:00,37.0
4,202400000002,1.0,21,21054,2,3.0,7.0,6.0,"47,02109000","4,83755000",2024-03-20 15:05:00,4,0.0,1.0,1,0.0,1.0,-1,-1,1.0,-1,9.0,0.0,1.0,30.0,203 988 579,155 781 757,A01,10.0,3,3.0,2.0,1927.0,5.0,0.0,NaN,2024-03-20 15:05:00,97.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
452884,202200055301,1.0,81,81099,1,3.0,1.0,3.0,"43,9272650000","1,9156370000",2022-01-01 08:40:00,3,NaN,2.0,2,0.0,1.0,30,125,1.0,-1,1.0,0.0,1.0,80.0,968 230,715 631,A01,1.0,1,1.0,2.0,2002.0,5.0,1.0,NaN,2022-01-01 08:40:00,20.0
452885,202200055301,1.0,81,81099,1,3.0,1.0,3.0,"43,9272650000","1,9156370000",2022-01-01 08:40:00,3,NaN,2.0,2,0.0,1.0,30,125,1.0,-1,1.0,0.0,1.0,80.0,968 231,715 631,A01,8.0,2,3.0,2.0,2004.0,5.0,1.0,NaN,2022-01-01 08:40:00,18.0
452886,202200055301,1.0,81,81099,1,3.0,1.0,3.0,"43,9272650000","1,9156370000",2022-01-01 08:40:00,3,NaN,2.0,2,0.0,1.0,30,125,1.0,-1,1.0,0.0,1.0,80.0,968 232,715 632,B01,1.0,1,4.0,2.0,1953.0,5.0,1.0,NaN,2022-01-01 08:40:00,69.0
452887,202200055302,1.0,41,41018,2,1.0,1.0,2.0,"47,5944040000","1,3533290000",2022-03-01 16:55:00,3,NaN,3.0,4,0.0,1.0,(1),(1),1.0,4,1.0,0.0,1.0,70.0,968 228,715 629,A01,1.0,1,3.0,1.0,1992.0,1.0,2.0,6.0,2022-03-01 16:55:00,30.0
452888,202200055302,1.0,41,41018,2,1.0,1.0,2.0,"47,5944040000","1,3533290000",2022-03-01 16:55:00,3,NaN,3.0,4,0.0,1.0,(1),(1),1.0,4,1.0,0.0,1.0,70.0,968 229,715 630,B01,1.0,1,1.0,1.0,2000.0,NaN,1.0,NaN,2022-03-01 16:55:00,22.0

In [253]:
df_clean.isna().sum()

Num_Acc             0
lum                 0
dep                 0
com                 0
agg                 0
int                 0
atm                 0
col               173
lat                 0
long                0
Date                0
catr                0
v1              97436
circ            27838
nbv             19914
vosp            18050
prof              648
pr                  0
pr1                 0
plan              492
larrout             0
surf              597
infra            5214
situ              573
vma                 0
id_usager           0
id_vehicule         0
num_veh             0
place               9
catu                0
grav                0
sexe             8826
an_nais             0
trajet         130316
secu1            8242
secu2          196075
date_dt             0
age_usager          0
dtype: int64

In [254]:
#Je décide de drop v1 Indice numérique du numéro de route qui est une valeur inutile

In [255]:
df_clean = df_clean.drop(columns= 'v1')
df_clean

,Num_Acc,lum,dep,com,agg,int,atm,col,lat,long,Date,catr,circ,nbv,vosp,prof,pr,pr1,plan,larrout,surf,infra,situ,vma,id_usager,id_vehicule,num_veh,place,catu,grav,sexe,an_nais,trajet,secu1,secu2,date_dt,age_usager
0,202400000001,2.0,70,70285,1,1.0,5.0,1.0,"47,56277000","6,75832000",2024-03-25 07:40:00,3,2.0,2,0.0,1.0,1,260,2.0,7,1.0,0.0,1.0,90.0,203 988 581,155 781 758,A01,1.0,1,3.0,1.0,2003.0,2.0,1.0,NaN,2024-03-25 07:40:00,21.0
1,202400000001,2.0,70,70285,1,1.0,5.0,1.0,"47,56277000","6,75832000",2024-03-25 07:40:00,3,2.0,2,0.0,1.0,1,260,2.0,7,1.0,0.0,1.0,90.0,203 988 582,155 781 759,B01,1.0,1,1.0,1.0,1997.0,4.0,1.0,NaN,2024-03-25 07:40:00,27.0
2,202400000002,1.0,21,21054,2,3.0,7.0,6.0,"47,02109000","4,83755000",2024-03-20 15:05:00,4,2.0,2,0.0,1.0,-1,-1,1.0,-1,9.0,0.0,1.0,30.0,203 988 579,155 781 757,A01,10.0,3,3.0,2.0,1927.0,5.0,0.0,NaN,2024-03-20 15:05:00,97.0
3,202400000002,1.0,21,21054,2,3.0,7.0,6.0,"47,02109000","4,83755000",2024-03-20 15:05:00,4,2.0,2,0.0,1.0,-1,-1,1.0,-1,9.0,0.0,1.0,30.0,203 988 580,155 781 757,A01,1.0,1,1.0,1.0,1987.0,4.0,1.0,0.0,2024-03-20 15:05:00,37.0
4,202400000002,1.0,21,21054,2,3.0,7.0,6.0,"47,02109000","4,83755000",2024-03-20 15:05:00,4,1.0,1,0.0,1.0,-1,-1,1.0,-1,9.0,0.0,1.0,30.0,203 988 579,155 781 757,A01,10.0,3,3.0,2.0,1927.0,5.0,0.0,NaN,2024-03-20 15:05:00,97.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
452884,202200055301,1.0,81,81099,1,3.0,1.0,3.0,"43,9272650000","1,9156370000",2022-01-01 08:40:00,3,2.0,2,0.0,1.0,30,125,1.0,-1,1.0,0.0,1.0,80.0,968 230,715 631,A01,1.0,1,1.0,2.0,2002.0,5.0,1.0,NaN,2022-01-01 08:40:00,20.0
452885,202200055301,1.0,81,81099,1,3.0,1.0,3.0,"43,9272650000","1,9156370000",2022-01-01 08:40:00,3,2.0,2,0.0,1.0,30,125,1.0,-1,1.0,0.0,1.0,80.0,968 231,715 631,A01,8.0,2,3.0,2.0,2004.0,5.0,1.0,NaN,2022-01-01 08:40:00,18.0
452886,202200055301,1.0,81,81099,1,3.0,1.0,3.0,"43,9272650000","1,9156370000",2022-01-01 08:40:00,3,2.0,2,0.0,1.0,30,125,1.0,-1,1.0,0.0,1.0,80.0,968 232,715 632,B01,1.0,1,4.0,2.0,1953.0,5.0,1.0,NaN,2022-01-01 08:40:00,69.0
452887,202200055302,1.0,41,41018,2,1.0,1.0,2.0,"47,5944040000","1,3533290000",2022-03-01 16:55:00,3,3.0,4,0.0,1.0,(1),(1),1.0,4,1.0,0.0,1.0,70.0,968 228,715 629,A01,1.0,1,3.0,1.0,1992.0,1.0,2.0,6.0,2022-03-01 16:55:00,30.0
452888,202200055302,1.0,41,41018,2,1.0,1.0,2.0,"47,5944040000","1,3533290000",2022-03-01 16:55:00,3,3.0,4,0.0,1.0,(1),(1),1.0,4,1.0,0.0,1.0,70.0,968 229,715 630,B01,1.0,1,1.0,1.0,2000.0,NaN,1.0,NaN,2022-03-01 16:55:00,22.0

In [256]:
pd.set_option('display.max_columns', 50)

In [257]:
#Je décide de drop trajet qui correspond au motif du déplacement au moment de l’accident 
#Pour moi cette valeur n'est pas pertinente et ne nous aidera pas pour déterminer la gravité d'un accident
#De, il y a environ 1/3 de valeurs nulles
df_clean = df_clean.drop(columns= 'trajet')
df_clean

,Num_Acc,lum,dep,com,agg,int,atm,col,lat,long,Date,catr,circ,nbv,vosp,prof,pr,pr1,plan,larrout,surf,infra,situ,vma,id_usager,id_vehicule,num_veh,place,catu,grav,sexe,an_nais,secu1,secu2,date_dt,age_usager
0,202400000001,2.0,70,70285,1,1.0,5.0,1.0,"47,56277000","6,75832000",2024-03-25 07:40:00,3,2.0,2,0.0,1.0,1,260,2.0,7,1.0,0.0,1.0,90.0,203 988 581,155 781 758,A01,1.0,1,3.0,1.0,2003.0,1.0,NaN,2024-03-25 07:40:00,21.0
1,202400000001,2.0,70,70285,1,1.0,5.0,1.0,"47,56277000","6,75832000",2024-03-25 07:40:00,3,2.0,2,0.0,1.0,1,260,2.0,7,1.0,0.0,1.0,90.0,203 988 582,155 781 759,B01,1.0,1,1.0,1.0,1997.0,1.0,NaN,2024-03-25 07:40:00,27.0
2,202400000002,1.0,21,21054,2,3.0,7.0,6.0,"47,02109000","4,83755000",2024-03-20 15:05:00,4,2.0,2,0.0,1.0,-1,-1,1.0,-1,9.0,0.0,1.0,30.0,203 988 579,155 781 757,A01,10.0,3,3.0,2.0,1927.0,0.0,NaN,2024-03-20 15:05:00,97.0
3,202400000002,1.0,21,21054,2,3.0,7.0,6.0,"47,02109000","4,83755000",2024-03-20 15:05:00,4,2.0,2,0.0,1.0,-1,-1,1.0,-1,9.0,0.0,1.0,30.0,203 988 580,155 781 757,A01,1.0,1,1.0,1.0,1987.0,1.0,0.0,2024-03-20 15:05:00,37.0
4,202400000002,1.0,21,21054,2,3.0,7.0,6.0,"47,02109000","4,83755000",2024-03-20 15:05:00,4,1.0,1,0.0,1.0,-1,-1,1.0,-1,9.0,0.0,1.0,30.0,203 988 579,155 781 757,A01,10.0,3,3.0,2.0,1927.0,0.0,NaN,2024-03-20 15:05:00,97.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
452884,202200055301,1.0,81,81099,1,3.0,1.0,3.0,"43,9272650000","1,9156370000",2022-01-01 08:40:00,3,2.0,2,0.0,1.0,30,125,1.0,-1,1.0,0.0,1.0,80.0,968 230,715 631,A01,1.0,1,1.0,2.0,2002.0,1.0,NaN,2022-01-01 08:40:00,20.0
452885,202200055301,1.0,81,81099,1,3.0,1.0,3.0,"43,9272650000","1,9156370000",2022-01-01 08:40:00,3,2.0,2,0.0,1.0,30,125,1.0,-1,1.0,0.0,1.0,80.0,968 231,715 631,A01,8.0,2,3.0,2.0,2004.0,1.0,NaN,2022-01-01 08:40:00,18.0
452886,202200055301,1.0,81,81099,1,3.0,1.0,3.0,"43,9272650000","1,9156370000",2022-01-01 08:40:00,3,2.0,2,0.0,1.0,30,125,1.0,-1,1.0,0.0,1.0,80.0,968 232,715 632,B01,1.0,1,4.0,2.0,1953.0,1.0,NaN,2022-01-01 08:40:00,69.0
452887,202200055302,1.0,41,41018,2,1.0,1.0,2.0,"47,5944040000","1,3533290000",2022-03-01 16:55:00,3,3.0,4,0.0,1.0,(1),(1),1.0,4,1.0,0.0,1.0,70.0,968 228,715 629,A01,1.0,1,3.0,1.0,1992.0,2.0,6.0,2022-03-01 16:55:00,30.0
452888,202200055302,1.0,41,41018,2,1.0,1.0,2.0,"47,5944040000","1,3533290000",2022-03-01 16:55:00,3,3.0,4,0.0,1.0,(1),(1),1.0,4,1.0,0.0,1.0,70.0,968 229,715 630,B01,1.0,1,1.0,1.0,2000.0,1.0,NaN,2022-03-01 16:55:00,22.0

In [258]:
df_clean.isna().sum()

Num_Acc             0
lum                 0
dep                 0
com                 0
agg                 0
int                 0
atm                 0
col               173
lat                 0
long                0
Date                0
catr                0
circ            27838
nbv             19914
vosp            18050
prof              648
pr                  0
pr1                 0
plan              492
larrout             0
surf              597
infra            5214
situ              573
vma                 0
id_usager           0
id_vehicule         0
num_veh             0
place               9
catu                0
grav                0
sexe             8826
an_nais             0
secu1            8242
secu2          196075
date_dt             0
age_usager          0
dtype: int64

In [259]:
df_clean['col'].value_counts()

col
3.0    161092
6.0    105172
2.0     60770
1.0     52793
4.0     25215
7.0     24956
5.0     22282
Name: count, dtype: int64

In [260]:
df_clean.describe()

,Num_Acc,lum,agg,int,atm,col,Date,catr,circ,nbv,vosp,prof,plan,surf,infra,situ,vma,place,catu,grav,sexe,an_nais,secu1,secu2,date_dt,age_usager
count,4.524530e+05,452453.000000,452453.000000,452453.00000,452453.000000,452280.000000,452453,452453.000000,424615.000000,432539.0,434403.000000,451805.000000,451961.000000,451856.000000,447239.000000,451880.000000,452453.000000,452444.000000,452453.000000,452453.000000,443627.000000,452453.000000,444211.000000,256378.000000,452453,452453.000000
mean,2.023080e+11,1.955052,1.640723,2.24208,1.631056,3.704791,2023-08-04 12:42:32.171827968,3.328094,1.949860,2.311172,0.244027,1.216093,1.265937,1.252999,0.839392,1.530154,58.807763,2.075090,1.328182,2.512332,1.317702,1984.356245,1.996511,2.328624,2023-08-04 12:42:32.171827968,38.723642
min,2.022000e+11,1.000000,1.000000,1.00000,1.000000,1.000000,2022-01-01 00:00:00,1.000000,1.000000,0.0,0.000000,1.000000,1.000000,1.000000,0.000000,1.000000,0.000000,1.000000,1.000000,1.000000,1.000000,1913.000000,0.000000,0.000000,2022-01-01 00:00:00,0.000000
25%,2.022000e+11,1.000000,1.000000,1.00000,1.000000,2.000000,2022-11-20 12:25:00,3.000000,2.000000,2.0,0.000000,1.000000,1.000000,1.000000,0.000000,1.000000,50.000000,1.000000,1.000000,1.000000,1.000000,1971.000000,1.000000,0.000000,2022-11-20 12:25:00,23.000000
50%,2.023000e+11,1.000000,2.000000,1.00000,1.000000,3.000000,2023-08-19 19:15:00,3.000000,2.000000,2.0,0.000000,1.000000,1.000000,1.000000,0.000000,1.000000,50.000000,1.000000,1.000000,3.000000,1.000000,1988.000000,1.000000,0.000000,2023-08-19 19:15:00,35.000000
75%,2.024000e+11,3.000000,2.000000,3.00000,1.000000,6.000000,2024-04-27 19:20:00,4.000000,2.000000,2.0,0.000000,1.000000,1.000000,1.000000,0.000000,1.000000,80.000000,2.000000,2.000000,4.000000,2.000000,2000.000000,2.000000,6.000000,2024-04-27 19:20:00,52.000000
max,2.024001e+11,5.000000,2.000000,9.00000,9.000000,7.000000,2024-12-31 23:55:00,9.000000,4.000000,12.0,3.000000,4.000000,4.000000,9.000000,9.000000,8.000000,900.000000,10.000000,3.000000,4.000000,2.000000,2024.000000,9.000000,9.000000,2024-12-31 23:55:00,110.000000
std,7.951294e+07,1.514380,0.479789,1.95732,1.695305,1.825664,NaN,1.197505,0.606709,1.216022,0.703361,0.524633,0.643101,0.751468,2.164092,1.532163,24.236965,2.564621,0.608064,1.380162,0.465583,18.959612,2.364654,3.259586,NaN,18.950968

In [261]:
# La valeur médiane de col est 3, c'est également la valeur la plus présente
# je pense que remplacer les 153 valeurs manquantes par la médiane est une solution envisageable
# D'autre part 153 sur 450 000 représente une partie infime du df

In [262]:
type_de_col = df_clean["col"].median()
df_clean = df_clean.fillna({"col" : type_de_col})

In [263]:
df_clean.isna().sum()

Num_Acc             0
lum                 0
dep                 0
com                 0
agg                 0
int                 0
atm                 0
col                 0
lat                 0
long                0
Date                0
catr                0
circ            27838
nbv             19914
vosp            18050
prof              648
pr                  0
pr1                 0
plan              492
larrout             0
surf              597
infra            5214
situ              573
vma                 0
id_usager           0
id_vehicule         0
num_veh             0
place               9
catu                0
grav                0
sexe             8826
an_nais             0
secu1            8242
secu2          196075
date_dt             0
age_usager          0
dtype: int64

In [264]:
df_clean['circ'].value_counts()

circ
2.0    275172
1.0     86687
3.0     60115
4.0      2641
Name: count, dtype: int64

In [265]:
df_clean['nbv'].value_counts()

nbv
2     270570
1      48049
4      44522
3      37169
0      12560
6       9898
5       5873
8       2440
7        692
10       390
9        198
12       131
11        47
Name: count, dtype: Int64

In [266]:
df_clean['nbv'] = df_clean['nbv'].fillna(df_clean.groupby('catr')['nbv'].transform('median'))
df_clean['nbv'].value_counts()

nbv
2     288477
1      48049
4      44522
3      37326
0      14410
6       9898
5       5873
8       2440
7        692
10       390
9        198
12       131
11        47
Name: count, dtype: Int64

In [267]:
df_clean.isna().sum()

Num_Acc             0
lum                 0
dep                 0
com                 0
agg                 0
int                 0
atm                 0
col                 0
lat                 0
long                0
Date                0
catr                0
circ            27838
nbv                 0
vosp            18050
prof              648
pr                  0
pr1                 0
plan              492
larrout             0
surf              597
infra            5214
situ              573
vma                 0
id_usager           0
id_vehicule         0
num_veh             0
place               9
catu                0
grav                0
sexe             8826
an_nais             0
secu1            8242
secu2          196075
date_dt             0
age_usager          0
dtype: int64

In [268]:
df_clean['circ'] = df_clean['circ'].astype('Int64')

In [269]:
# 2. On boucle sur chaque catégorie de route (1, 2, 3...)
for route in df_clean['catr'].unique():
    mode_du_groupe = df_clean[df_clean['catr'] == route]['circ'].mode()[0]
    df_clean.loc[(df_clean['catr'] == route) & (df_clean['circ'].isna()), 'circ'] = mode_du_groupe

# 3. On remet tout en entiers propres
df_clean['circ'] = df_clean['circ'].astype(int)

In [270]:
df_clean['vosp'].value_counts()

vosp
0.0    378516
1.0     23033
3.0     17265
2.0     15589
Name: count, dtype: int64

In [271]:
#Les valeurs nulles de Vosp représente 5% du df, je décide de les remplacer par 0 qui correspon a sans objet
# 0 est la valeur la plus fréquente et DE LOIN
# de plus, si la valeur est non renseigné de base, par déduction c'est qu'elle est surement sans objet
df_clean['vosp'] = df_clean['vosp'].fillna(0)

In [272]:
df_clean.isna().sum()

Num_Acc             0
lum                 0
dep                 0
com                 0
agg                 0
int                 0
atm                 0
col                 0
lat                 0
long                0
Date                0
catr                0
circ                0
nbv                 0
vosp                0
prof              648
pr                  0
pr1                 0
plan              492
larrout             0
surf              597
infra            5214
situ              573
vma                 0
id_usager           0
id_vehicule         0
num_veh             0
place               9
catu                0
grav                0
sexe             8826
an_nais             0
secu1            8242
secu2          196075
date_dt             0
age_usager          0
dtype: int64

In [273]:
# Pour les 150 lignes NaN de prof ( ce qui correspond a 0.03% du df ) je décide de remplacer leur valeur nulle par la valeur la plus fréquente

In [274]:
df_clean['prof'].value_counts()

prof
1.0    372396
2.0     66873
3.0      6849
4.0      5687
Name: count, dtype: int64

In [275]:
df_clean['prof'] = df_clean['prof'].fillna(1.0)

In [276]:
df_clean.isna().sum()

Num_Acc             0
lum                 0
dep                 0
com                 0
agg                 0
int                 0
atm                 0
col                 0
lat                 0
long                0
Date                0
catr                0
circ                0
nbv                 0
vosp                0
prof                0
pr                  0
pr1                 0
plan              492
larrout             0
surf              597
infra            5214
situ              573
vma                 0
id_usager           0
id_vehicule         0
num_veh             0
place               9
catu                0
grav                0
sexe             8826
an_nais             0
secu1            8242
secu2          196075
date_dt             0
age_usager          0
dtype: int64

In [277]:
df_clean['plan'].value_counts()

plan
1.0    376122
2.0     36477
3.0     34370
4.0      4992
Name: count, dtype: int64

In [278]:
df_clean['surf'].value_counts()

surf
1.0    362914
2.0     83666
9.0      1648
7.0      1447
3.0       696
5.0       580
8.0       471
6.0       238
4.0       196
Name: count, dtype: int64

In [279]:
df_clean['situ'].value_counts()

situ
1.0    390714
3.0     20163
8.0     14883
5.0     10155
4.0      7851
6.0      5693
2.0      2421
Name: count, dtype: int64

In [280]:
#Idem que pour prof je fais la même chose pour ces 3 colonnes et leur, environ, 500 lignes nulles
cols_to_change = ['situ', 'surf', 'plan']
df_clean[cols_to_change]= df_clean[cols_to_change].fillna(1)

In [281]:
df_clean.isna().sum()

Num_Acc             0
lum                 0
dep                 0
com                 0
agg                 0
int                 0
atm                 0
col                 0
lat                 0
long                0
Date                0
catr                0
circ                0
nbv                 0
vosp                0
prof                0
pr                  0
pr1                 0
plan                0
larrout             0
surf                0
infra            5214
situ                0
vma                 0
id_usager           0
id_vehicule         0
num_veh             0
place               9
catu                0
grav                0
sexe             8826
an_nais             0
secu1            8242
secu2          196075
date_dt             0
age_usager          0
dtype: int64

In [282]:
df_clean['infra'].value_counts()

infra
0.0    376005
5.0     30153
9.0     14674
2.0      7206
3.0      5216
1.0      5054
6.0      4103
8.0      3148
4.0      1366
7.0       314
Name: count, dtype: int64

In [283]:
#pour les 1% de valeurs manquantes dans infra je décide également de remplacer les NaN par la valeur 0, qui ocrresspond à Aucun
#Ce n'est peut etre pas le cas mais ca ne devrait pas trop impacter le jeu de données

In [284]:
df_clean['infra']= df_clean['infra'].fillna(0)

In [285]:
df_clean.isna().sum()

Num_Acc             0
lum                 0
dep                 0
com                 0
agg                 0
int                 0
atm                 0
col                 0
lat                 0
long                0
Date                0
catr                0
circ                0
nbv                 0
vosp                0
prof                0
pr                  0
pr1                 0
plan                0
larrout             0
surf                0
infra               0
situ                0
vma                 0
id_usager           0
id_vehicule         0
num_veh             0
place               9
catu                0
grav                0
sexe             8826
an_nais             0
secu1            8242
secu2          196075
date_dt             0
age_usager          0
dtype: int64

In [286]:
df_clean['place'].value_counts()

place
1.0     337563
2.0      49892
10.0     33768
3.0       8789
4.0       8262
9.0       4527
7.0       4299
5.0       2614
8.0       2067
6.0        663
Name: count, dtype: int64

In [287]:
#Pour 9 valeurs manquantes, j'en parle même pas

df_clean['place']= df_clean['place'].fillna(1)

In [288]:
df_clean['sexe'].value_counts()

sexe
1.0    302686
2.0    140941
Name: count, dtype: int64

In [289]:
#Idem pour 2% des valeurs, je remplace par la valeur la plus fréquente
df_clean['sexe'] = df_clean['sexe'].fillna(1)

In [290]:
df_clean['secu1'].value_counts()

secu1
1.0    260806
2.0     80727
8.0     56101
0.0     42754
3.0      2576
6.0       428
9.0       424
4.0       299
5.0        88
7.0         8
Name: count, dtype: int64

secu1
Le renseignement du caractère indique la présence et l’utilisation de l’équipement de sécurité :
-1 – Non renseigné
0 – Aucun équipement
1 – Ceinture
2 – Casque
12
3 – Dispositif enfants
4 – Gilet réfléchissant
5 – Airbag (2RM/3RM)
6 – Gants (2RM/3RM)
7 – Gants + Airbag (2RM/3RM)
8 – Non déterminable
9 – Autre

In [292]:
def nouvelle_valeur(valeur):
    protege = [1, 2, 3, 4, 5, 6, 7]
    non_protege = [0]
    if valeur in protege:
            return 1
    elif valeur in non_protege:
            return 2
    else :
            return 3
            
df_clean['protection'] = df_clean['secu1'].apply(nouvelle_valeur)
df_clean = df_clean.drop(columns='secu1')
df_clean

,Num_Acc,lum,dep,com,agg,int,atm,col,lat,long,Date,catr,circ,nbv,vosp,prof,pr,pr1,plan,larrout,surf,infra,situ,vma,id_usager,id_vehicule,num_veh,place,catu,grav,sexe,an_nais,secu2,date_dt,age_usager,protection
0,202400000001,2.0,70,70285,1,1.0,5.0,1.0,"47,56277000","6,75832000",2024-03-25 07:40:00,3,2,2,0.0,1.0,1,260,2.0,7,1.0,0.0,1.0,90.0,203 988 581,155 781 758,A01,1.0,1,3.0,1.0,2003.0,NaN,2024-03-25 07:40:00,21.0,1
1,202400000001,2.0,70,70285,1,1.0,5.0,1.0,"47,56277000","6,75832000",2024-03-25 07:40:00,3,2,2,0.0,1.0,1,260,2.0,7,1.0,0.0,1.0,90.0,203 988 582,155 781 759,B01,1.0,1,1.0,1.0,1997.0,NaN,2024-03-25 07:40:00,27.0,1
2,202400000002,1.0,21,21054,2,3.0,7.0,6.0,"47,02109000","4,83755000",2024-03-20 15:05:00,4,2,2,0.0,1.0,-1,-1,1.0,-1,9.0,0.0,1.0,30.0,203 988 579,155 781 757,A01,10.0,3,3.0,2.0,1927.0,NaN,2024-03-20 15:05:00,97.0,2
3,202400000002,1.0,21,21054,2,3.0,7.0,6.0,"47,02109000","4,83755000",2024-03-20 15:05:00,4,2,2,0.0,1.0,-1,-1,1.0,-1,9.0,0.0,1.0,30.0,203 988 580,155 781 757,A01,1.0,1,1.0,1.0,1987.0,0.0,2024-03-20 15:05:00,37.0,1
4,202400000002,1.0,21,21054,2,3.0,7.0,6.0,"47,02109000","4,83755000",2024-03-20 15:05:00,4,1,1,0.0,1.0,-1,-1,1.0,-1,9.0,0.0,1.0,30.0,203 988 579,155 781 757,A01,10.0,3,3.0,2.0,1927.0,NaN,2024-03-20 15:05:00,97.0,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
452884,202200055301,1.0,81,81099,1,3.0,1.0,3.0,"43,9272650000","1,9156370000",2022-01-01 08:40:00,3,2,2,0.0,1.0,30,125,1.0,-1,1.0,0.0,1.0,80.0,968 230,715 631,A01,1.0,1,1.0,2.0,2002.0,NaN,2022-01-01 08:40:00,20.0,1
452885,202200055301,1.0,81,81099,1,3.0,1.0,3.0,"43,9272650000","1,9156370000",2022-01-01 08:40:00,3,2,2,0.0,1.0,30,125,1.0,-1,1.0,0.0,1.0,80.0,968 231,715 631,A01,8.0,2,3.0,2.0,2004.0,NaN,2022-01-01 08:40:00,18.0,1
452886,202200055301,1.0,81,81099,1,3.0,1.0,3.0,"43,9272650000","1,9156370000",2022-01-01 08:40:00,3,2,2,0.0,1.0,30,125,1.0,-1,1.0,0.0,1.0,80.0,968 232,715 632,B01,1.0,1,4.0,2.0,1953.0,NaN,2022-01-01 08:40:00,69.0,1
452887,202200055302,1.0,41,41018,2,1.0,1.0,2.0,"47,5944040000","1,3533290000",2022-03-01 16:55:00,3,3,4,0.0,1.0,(1),(1),1.0,4,1.0,0.0,1.0,70.0,968 228,715 629,A01,1.0,1,3.0,1.0,1992.0,6.0,2022-03-01 16:55:00,30.0,1
452888,202200055302,1.0,41,41018,2,1.0,1.0,2.0,"47,5944040000","1,3533290000",2022-03-01 16:55:00,3,3,4,0.0,1.0,(1),(1),1.0,4,1.0,0.0,1.0,70.0,968 229,715 630,B01,1.0,1,1.0,1.0,2000.0,NaN,2022-03-01 16:55:00,22.0,1

In [293]:
df_clean['protection'].value_counts()

protection
1    344932
3     64767
2     42754
Name: count, dtype: int64

In [294]:
df_clean.isna().sum()

Num_Acc             0
lum                 0
dep                 0
com                 0
agg                 0
int                 0
atm                 0
col                 0
lat                 0
long                0
Date                0
catr                0
circ                0
nbv                 0
vosp                0
prof                0
pr                  0
pr1                 0
plan                0
larrout             0
surf                0
infra               0
situ                0
vma                 0
id_usager           0
id_vehicule         0
num_veh             0
place               0
catu                0
grav                0
sexe                0
an_nais             0
secu2          196075
date_dt             0
age_usager          0
protection          0
dtype: int64

In [295]:
df_clean['protection2'] = df_clean['secu2'].apply(nouvelle_valeur)
df_clean = df_clean.drop(columns='secu2')
df_clean

,Num_Acc,lum,dep,com,agg,int,atm,col,lat,long,Date,catr,circ,nbv,vosp,prof,pr,pr1,plan,larrout,surf,infra,situ,vma,id_usager,id_vehicule,num_veh,place,catu,grav,sexe,an_nais,date_dt,age_usager,protection,protection2
0,202400000001,2.0,70,70285,1,1.0,5.0,1.0,"47,56277000","6,75832000",2024-03-25 07:40:00,3,2,2,0.0,1.0,1,260,2.0,7,1.0,0.0,1.0,90.0,203 988 581,155 781 758,A01,1.0,1,3.0,1.0,2003.0,2024-03-25 07:40:00,21.0,1,3
1,202400000001,2.0,70,70285,1,1.0,5.0,1.0,"47,56277000","6,75832000",2024-03-25 07:40:00,3,2,2,0.0,1.0,1,260,2.0,7,1.0,0.0,1.0,90.0,203 988 582,155 781 759,B01,1.0,1,1.0,1.0,1997.0,2024-03-25 07:40:00,27.0,1,3
2,202400000002,1.0,21,21054,2,3.0,7.0,6.0,"47,02109000","4,83755000",2024-03-20 15:05:00,4,2,2,0.0,1.0,-1,-1,1.0,-1,9.0,0.0,1.0,30.0,203 988 579,155 781 757,A01,10.0,3,3.0,2.0,1927.0,2024-03-20 15:05:00,97.0,2,3
3,202400000002,1.0,21,21054,2,3.0,7.0,6.0,"47,02109000","4,83755000",2024-03-20 15:05:00,4,2,2,0.0,1.0,-1,-1,1.0,-1,9.0,0.0,1.0,30.0,203 988 580,155 781 757,A01,1.0,1,1.0,1.0,1987.0,2024-03-20 15:05:00,37.0,1,2
4,202400000002,1.0,21,21054,2,3.0,7.0,6.0,"47,02109000","4,83755000",2024-03-20 15:05:00,4,1,1,0.0,1.0,-1,-1,1.0,-1,9.0,0.0,1.0,30.0,203 988 579,155 781 757,A01,10.0,3,3.0,2.0,1927.0,2024-03-20 15:05:00,97.0,2,3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
452884,202200055301,1.0,81,81099,1,3.0,1.0,3.0,"43,9272650000","1,9156370000",2022-01-01 08:40:00,3,2,2,0.0,1.0,30,125,1.0,-1,1.0,0.0,1.0,80.0,968 230,715 631,A01,1.0,1,1.0,2.0,2002.0,2022-01-01 08:40:00,20.0,1,3
452885,202200055301,1.0,81,81099,1,3.0,1.0,3.0,"43,9272650000","1,9156370000",2022-01-01 08:40:00,3,2,2,0.0,1.0,30,125,1.0,-1,1.0,0.0,1.0,80.0,968 231,715 631,A01,8.0,2,3.0,2.0,2004.0,2022-01-01 08:40:00,18.0,1,3
452886,202200055301,1.0,81,81099,1,3.0,1.0,3.0,"43,9272650000","1,9156370000",2022-01-01 08:40:00,3,2,2,0.0,1.0,30,125,1.0,-1,1.0,0.0,1.0,80.0,968 232,715 632,B01,1.0,1,4.0,2.0,1953.0,2022-01-01 08:40:00,69.0,1,3
452887,202200055302,1.0,41,41018,2,1.0,1.0,2.0,"47,5944040000","1,3533290000",2022-03-01 16:55:00,3,3,4,0.0,1.0,(1),(1),1.0,4,1.0,0.0,1.0,70.0,968 228,715 629,A01,1.0,1,3.0,1.0,1992.0,2022-03-01 16:55:00,30.0,1,1
452888,202200055302,1.0,41,41018,2,1.0,1.0,2.0,"47,5944040000","1,3533290000",2022-03-01 16:55:00,3,3,4,0.0,1.0,(1),(1),1.0,4,1.0,0.0,1.0,70.0,968 229,715 630,B01,1.0,1,1.0,1.0,2000.0,2022-03-01 16:55:00,22.0,1,3

In [298]:
df_clean['pr'].value_counts()

pr
 -1     126902
0        92137
(1)      40890
1        22413
2         9941
         ...
399          1
484          1
851          1
800          1
2883         1
Name: count, Length: 583, dtype: int64

In [300]:
df_clean['pr1'].value_counts()

pr1
 -1      127526
0         99021
(1)       41309
1         14642
500       13333
          ...
4 600         1
2957          1
1616          1
1136          1
6199          1
Name: count, Length: 1842, dtype: int64

In [301]:
df_clean = df_clean.drop(columns={'pr', 'pr1'})
df_clean

,Num_Acc,lum,dep,com,agg,int,atm,col,lat,long,Date,catr,circ,nbv,vosp,prof,plan,larrout,surf,infra,situ,vma,id_usager,id_vehicule,num_veh,place,catu,grav,sexe,an_nais,date_dt,age_usager,protection,protection2
0,202400000001,2.0,70,70285,1,1.0,5.0,1.0,"47,56277000","6,75832000",2024-03-25 07:40:00,3,2,2,0.0,1.0,2.0,7,1.0,0.0,1.0,90.0,203 988 581,155 781 758,A01,1.0,1,3.0,1.0,2003.0,2024-03-25 07:40:00,21.0,1,3
1,202400000001,2.0,70,70285,1,1.0,5.0,1.0,"47,56277000","6,75832000",2024-03-25 07:40:00,3,2,2,0.0,1.0,2.0,7,1.0,0.0,1.0,90.0,203 988 582,155 781 759,B01,1.0,1,1.0,1.0,1997.0,2024-03-25 07:40:00,27.0,1,3
2,202400000002,1.0,21,21054,2,3.0,7.0,6.0,"47,02109000","4,83755000",2024-03-20 15:05:00,4,2,2,0.0,1.0,1.0,-1,9.0,0.0,1.0,30.0,203 988 579,155 781 757,A01,10.0,3,3.0,2.0,1927.0,2024-03-20 15:05:00,97.0,2,3
3,202400000002,1.0,21,21054,2,3.0,7.0,6.0,"47,02109000","4,83755000",2024-03-20 15:05:00,4,2,2,0.0,1.0,1.0,-1,9.0,0.0,1.0,30.0,203 988 580,155 781 757,A01,1.0,1,1.0,1.0,1987.0,2024-03-20 15:05:00,37.0,1,2
4,202400000002,1.0,21,21054,2,3.0,7.0,6.0,"47,02109000","4,83755000",2024-03-20 15:05:00,4,1,1,0.0,1.0,1.0,-1,9.0,0.0,1.0,30.0,203 988 579,155 781 757,A01,10.0,3,3.0,2.0,1927.0,2024-03-20 15:05:00,97.0,2,3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
452884,202200055301,1.0,81,81099,1,3.0,1.0,3.0,"43,9272650000","1,9156370000",2022-01-01 08:40:00,3,2,2,0.0,1.0,1.0,-1,1.0,0.0,1.0,80.0,968 230,715 631,A01,1.0,1,1.0,2.0,2002.0,2022-01-01 08:40:00,20.0,1,3
452885,202200055301,1.0,81,81099,1,3.0,1.0,3.0,"43,9272650000","1,9156370000",2022-01-01 08:40:00,3,2,2,0.0,1.0,1.0,-1,1.0,0.0,1.0,80.0,968 231,715 631,A01,8.0,2,3.0,2.0,2004.0,2022-01-01 08:40:00,18.0,1,3
452886,202200055301,1.0,81,81099,1,3.0,1.0,3.0,"43,9272650000","1,9156370000",2022-01-01 08:40:00,3,2,2,0.0,1.0,1.0,-1,1.0,0.0,1.0,80.0,968 232,715 632,B01,1.0,1,4.0,2.0,1953.0,2022-01-01 08:40:00,69.0,1,3
452887,202200055302,1.0,41,41018,2,1.0,1.0,2.0,"47,5944040000","1,3533290000",2022-03-01 16:55:00,3,3,4,0.0,1.0,1.0,4,1.0,0.0,1.0,70.0,968 228,715 629,A01,1.0,1,3.0,1.0,1992.0,2022-03-01 16:55:00,30.0,1,1
452888,202200055302,1.0,41,41018,2,1.0,1.0,2.0,"47,5944040000","1,3533290000",2022-03-01 16:55:00,3,3,4,0.0,1.0,1.0,4,1.0,0.0,1.0,70.0,968 229,715 630,B01,1.0,1,1.0,1.0,2000.0,2022-03-01 16:55:00,22.0,1,3

In [303]:
df_clean['larrout'].value_counts()

larrout
 -1     348238
7        24479
5,5      16431
4        12741
5        11078
         ...
8,85         1
3,75         1
5,25         1
5,79         1
13,3         1
Name: count, Length: 137, dtype: int64

In [304]:
df_clean = df_clean.drop(columns='larrout')

In [306]:
df_clean.head(20)

,Num_Acc,lum,dep,com,agg,int,atm,col,lat,long,Date,catr,circ,nbv,vosp,prof,plan,surf,infra,situ,vma,id_usager,id_vehicule,num_veh,place,catu,grav,sexe,an_nais,date_dt,age_usager,protection,protection2
0,202400000001,2.0,70,70285,1,1.0,5.0,1.0,"47,56277000","6,75832000",2024-03-25 07:40:00,3,2,2,0.0,1.0,2.0,1.0,0.0,1.0,90.0,203 988 581,155 781 758,A01,1.0,1,3.0,1.0,2003.0,2024-03-25 07:40:00,21.0,1,3
1,202400000001,2.0,70,70285,1,1.0,5.0,1.0,"47,56277000","6,75832000",2024-03-25 07:40:00,3,2,2,0.0,1.0,2.0,1.0,0.0,1.0,90.0,203 988 582,155 781 759,B01,1.0,1,1.0,1.0,1997.0,2024-03-25 07:40:00,27.0,1,3
2,202400000002,1.0,21,21054,2,3.0,7.0,6.0,"47,02109000","4,83755000",2024-03-20 15:05:00,4,2,2,0.0,1.0,1.0,9.0,0.0,1.0,30.0,203 988 579,155 781 757,A01,10.0,3,3.0,2.0,1927.0,2024-03-20 15:05:00,97.0,2,3
3,202400000002,1.0,21,21054,2,3.0,7.0,6.0,"47,02109000","4,83755000",2024-03-20 15:05:00,4,2,2,0.0,1.0,1.0,9.0,0.0,1.0,30.0,203 988 580,155 781 757,A01,1.0,1,1.0,1.0,1987.0,2024-03-20 15:05:00,37.0,1,2
4,202400000002,1.0,21,21054,2,3.0,7.0,6.0,"47,02109000","4,83755000",2024-03-20 15:05:00,4,1,1,0.0,1.0,1.0,9.0,0.0,1.0,30.0,203 988 579,155 781 757,A01,10.0,3,3.0,2.0,1927.0,2024-03-20 15:05:00,97.0,2,3
5,202400000002,1.0,21,21054,2,3.0,7.0,6.0,"47,02109000","4,83755000",2024-03-20 15:05:00,4,1,1,0.0,1.0,1.0,9.0,0.0,1.0,30.0,203 988 580,155 781 757,A01,1.0,1,1.0,1.0,1987.0,2024-03-20 15:05:00,37.0,1,2
6,202400000003,2.0,15,15012,1,1.0,1.0,6.0,"44,90238400","2,49641800",2024-03-22 19:30:00,4,2,2,0.0,1.0,1.0,1.0,0.0,3.0,50.0,203 988 574,155 781 756,A01,2.0,2,4.0,2.0,2007.0,2024-03-22 19:30:00,17.0,3,2
7,202400000003,2.0,15,15012,1,1.0,1.0,6.0,"44,90238400","2,49641800",2024-03-22 19:30:00,4,2,2,0.0,1.0,1.0,1.0,0.0,3.0,50.0,203 988 575,155 781 756,A01,10.0,3,4.0,1.0,2007.0,2024-03-22 19:30:00,17.0,2,3
8,202400000003,2.0,15,15012,1,1.0,1.0,6.0,"44,90238400","2,49641800",2024-03-22 19:30:00,4,2,2,0.0,1.0,1.0,1.0,0.0,3.0,50.0,203 988 576,155 781 756,A01,10.0,3,3.0,2.0,2008.0,2024-03-22 19:30:00,16.0,2,3
9,202400000003,2.0,15,15012,1,1.0,1.0,6.0,"44,90238400","2,49641800",2024-03-22 19:30:00,4,2,2,0.0,1.0,1.0,1.0,0.0,3.0,50.0,203 988 577,155 781 756,A01,1.0,1,4.0,2.0,2007.0,2024-03-22 19:30:00,17.0,3,2
10,202400000003,2.0,15,15012,1,1.0,1.0,6.0,"44,90238400","2,49641800",2024-03-22 19:30:00,4,2,2,0.0,1.0,1.0,1.0,0.0,3.0,50.0,203 988 578,155 781 756,A01,10.0,3,1.0,1.0,2007.0,2024-03-22 19:30:00,17.0,2,3
11,202400000004,1.0,14,14118,2,3.0,7.0,3.0,"49,19166000","-0,39851000",2024-03-24 17:50:00,4,2,4,0.0,1.0,1.0,1.0,9.0,1.0,50.0,203 988 573,155 781 754,B01,1.0,1,4.0,1.0,1963.0,2024-03-24 17:50:00,61.0,1,1
12,202400000004,1.0,14,14118,2,3.0,7.0,3.0,"49,19166000","-0,39851000",2024-03-24 17:50:00,4,2,2,0.0,1.0,1.0,1.0,0.0,1.0,50.0,203 988 573,155 781 754,B01,1.0,1,4.0,1.0,1963.0,2024-03-24 17:50:00,61.0,1,1
13,202400000005,5.0,13,13106,1,3.0,2.0,5.0,"43,39000000","5,35000000",2024-03-25 19:35:00,1,2,4,0.0,1.0,1.0,2.0,0.0,1.0,50.0,203 988 569,155 781 750,A01,1.0,1,4.0,1.0,1981.0,2024-03-25 19:35:00,43.0,3,2
14,202400000005,5.0,13,13106,1,3.0,2.0,5.0,"43,39000000","5,35000000",2024-03-25 19:35:00,1,2,4,0.0,1.0,1.0,2.0,0.0,1.0,50.0,203 988 570,155 781 751,B01,1.0,1,4.0,2.0,2005.0,2024-03-25 19:35:00,19.0,3,2
15,202400000005,5.0,13,13106,1,3.0,2.0,5.0,"43,39000000","5,35000000",2024-03-25 19:35:00,1,2,4,0.0,1.0,1.0,2.0,0.0,1.0,50.0,203 988 571,155 781 752,C01,1.0,1,1.0,1.0,2000.0,2024-03-25 19:35:00,24.0,3,2
16,202400000005,5.0,13,13106,1,3.0,2.0,5.0,"43,39000000","5,35000000",2024-03-25 19:35:00,1,2,4,0.0,1.0,1.0,2.0,0.0,1.0,50.0,203 988 572,155 781 753,D01,1.0,1,4.0,2.0,1963.0,2024-03-25 19:35:00,61.0,3,2
17,202400000005,5.0,13,13106,1,3.0,2.0,5.0,"43,39000000","5,35000000",2024-03-25 19:35:00,1,2,4,1.0,2.0,1.0,2.0,0.0,1.0,70.0,203 988 569,155 781 750,A01,1.0,1,4.0,1.0,1981.0,2024-03-25 19:35:00,43.0,3,2
18,202400000005,5.0,13,13106,1,3.0,2.0,5.0,"43,39000000","5,35000000",2024-03-25 19:35:00,1,2,4,1.0,2.0,1.0,2.0,0.0,1.0,70.0,203 988 570,155 781 751,B01,1.0,1,4.0,2.0,2005.0,2024-03-25 19:35:00,19.0,3,2
19,202400000005,5.0,13,13106,1,3.0,2.0,5.0,"43,39000000","5,35000000",2024-03-25 19:35:00,1,2,4,1.0,2.0,1.0,2.0,0.0,1.0,70.0,203 988 571,155 781 752,C01,1.0,1,1.0,1.0,2000.0,2024-03-25 19:35:00,24.0,3,2

In [313]:
def infra(x):
    if x  == 0:
        return 0
    else :
        return 1
    
df_clean['infra_présente'] =  df_clean['infra'].apply(infra)
df_clean

,Num_Acc,lum,dep,com,agg,int,atm,col,lat,long,Date,catr,circ,nbv,vosp,prof,plan,surf,infra,situ,vma,id_usager,id_vehicule,num_veh,place,catu,grav,sexe,an_nais,date_dt,age_usager,protection,protection2,infra_présente
0,202400000001,2.0,70,70285,1,1.0,5.0,1.0,"47,56277000","6,75832000",2024-03-25 07:40:00,3,2,2,0.0,1.0,2.0,1.0,0.0,1.0,90.0,203 988 581,155 781 758,A01,1.0,1,3.0,1.0,2003.0,2024-03-25 07:40:00,21.0,1,3,0
1,202400000001,2.0,70,70285,1,1.0,5.0,1.0,"47,56277000","6,75832000",2024-03-25 07:40:00,3,2,2,0.0,1.0,2.0,1.0,0.0,1.0,90.0,203 988 582,155 781 759,B01,1.0,1,1.0,1.0,1997.0,2024-03-25 07:40:00,27.0,1,3,0
2,202400000002,1.0,21,21054,2,3.0,7.0,6.0,"47,02109000","4,83755000",2024-03-20 15:05:00,4,2,2,0.0,1.0,1.0,9.0,0.0,1.0,30.0,203 988 579,155 781 757,A01,10.0,3,3.0,2.0,1927.0,2024-03-20 15:05:00,97.0,2,3,0
3,202400000002,1.0,21,21054,2,3.0,7.0,6.0,"47,02109000","4,83755000",2024-03-20 15:05:00,4,2,2,0.0,1.0,1.0,9.0,0.0,1.0,30.0,203 988 580,155 781 757,A01,1.0,1,1.0,1.0,1987.0,2024-03-20 15:05:00,37.0,1,2,0
4,202400000002,1.0,21,21054,2,3.0,7.0,6.0,"47,02109000","4,83755000",2024-03-20 15:05:00,4,1,1,0.0,1.0,1.0,9.0,0.0,1.0,30.0,203 988 579,155 781 757,A01,10.0,3,3.0,2.0,1927.0,2024-03-20 15:05:00,97.0,2,3,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
452884,202200055301,1.0,81,81099,1,3.0,1.0,3.0,"43,9272650000","1,9156370000",2022-01-01 08:40:00,3,2,2,0.0,1.0,1.0,1.0,0.0,1.0,80.0,968 230,715 631,A01,1.0,1,1.0,2.0,2002.0,2022-01-01 08:40:00,20.0,1,3,0
452885,202200055301,1.0,81,81099,1,3.0,1.0,3.0,"43,9272650000","1,9156370000",2022-01-01 08:40:00,3,2,2,0.0,1.0,1.0,1.0,0.0,1.0,80.0,968 231,715 631,A01,8.0,2,3.0,2.0,2004.0,2022-01-01 08:40:00,18.0,1,3,0
452886,202200055301,1.0,81,81099,1,3.0,1.0,3.0,"43,9272650000","1,9156370000",2022-01-01 08:40:00,3,2,2,0.0,1.0,1.0,1.0,0.0,1.0,80.0,968 232,715 632,B01,1.0,1,4.0,2.0,1953.0,2022-01-01 08:40:00,69.0,1,3,0
452887,202200055302,1.0,41,41018,2,1.0,1.0,2.0,"47,5944040000","1,3533290000",2022-03-01 16:55:00,3,3,4,0.0,1.0,1.0,1.0,0.0,1.0,70.0,968 228,715 629,A01,1.0,1,3.0,1.0,1992.0,2022-03-01 16:55:00,30.0,1,1,0
452888,202200055302,1.0,41,41018,2,1.0,1.0,2.0,"47,5944040000","1,3533290000",2022-03-01 16:55:00,3,3,4,0.0,1.0,1.0,1.0,0.0,1.0,70.0,968 229,715 630,B01,1.0,1,1.0,1.0,2000.0,2022-03-01 16:55:00,22.0,1,3,0

In [315]:
df_final = df_clean.drop(columns={'id_usager', 'id_vehicule', 'num_veh','an_nais','date_dt', 'dep', 'com','infra'})
df_final

,Num_Acc,lum,agg,int,atm,col,lat,long,Date,catr,circ,nbv,vosp,prof,plan,surf,situ,vma,place,catu,grav,sexe,age_usager,protection,protection2,infra_présente
0,202400000001,2.0,1,1.0,5.0,1.0,"47,56277000","6,75832000",2024-03-25 07:40:00,3,2,2,0.0,1.0,2.0,1.0,1.0,90.0,1.0,1,3.0,1.0,21.0,1,3,0
1,202400000001,2.0,1,1.0,5.0,1.0,"47,56277000","6,75832000",2024-03-25 07:40:00,3,2,2,0.0,1.0,2.0,1.0,1.0,90.0,1.0,1,1.0,1.0,27.0,1,3,0
2,202400000002,1.0,2,3.0,7.0,6.0,"47,02109000","4,83755000",2024-03-20 15:05:00,4,2,2,0.0,1.0,1.0,9.0,1.0,30.0,10.0,3,3.0,2.0,97.0,2,3,0
3,202400000002,1.0,2,3.0,7.0,6.0,"47,02109000","4,83755000",2024-03-20 15:05:00,4,2,2,0.0,1.0,1.0,9.0,1.0,30.0,1.0,1,1.0,1.0,37.0,1,2,0
4,202400000002,1.0,2,3.0,7.0,6.0,"47,02109000","4,83755000",2024-03-20 15:05:00,4,1,1,0.0,1.0,1.0,9.0,1.0,30.0,10.0,3,3.0,2.0,97.0,2,3,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
452884,202200055301,1.0,1,3.0,1.0,3.0,"43,9272650000","1,9156370000",2022-01-01 08:40:00,3,2,2,0.0,1.0,1.0,1.0,1.0,80.0,1.0,1,1.0,2.0,20.0,1,3,0
452885,202200055301,1.0,1,3.0,1.0,3.0,"43,9272650000","1,9156370000",2022-01-01 08:40:00,3,2,2,0.0,1.0,1.0,1.0,1.0,80.0,8.0,2,3.0,2.0,18.0,1,3,0
452886,202200055301,1.0,1,3.0,1.0,3.0,"43,9272650000","1,9156370000",2022-01-01 08:40:00,3,2,2,0.0,1.0,1.0,1.0,1.0,80.0,1.0,1,4.0,2.0,69.0,1,3,0
452887,202200055302,1.0,2,1.0,1.0,2.0,"47,5944040000","1,3533290000",2022-03-01 16:55:00,3,3,4,0.0,1.0,1.0,1.0,1.0,70.0,1.0,1,3.0,1.0,30.0,1,1,0
452888,202200055302,1.0,2,1.0,1.0,2.0,"47,5944040000","1,3533290000",2022-03-01 16:55:00,3,3,4,0.0,1.0,1.0,1.0,1.0,70.0,1.0,1,1.0,1.0,22.0,1,3,0

In [316]:
df_final.dtypes

Num_Acc                    int64
lum                      float64
agg                        int64
int                      float64
atm                      float64
col                      float64
lat                       object
long                      object
Date              datetime64[ns]
catr                       int64
circ                       int64
nbv                        Int64
vosp                     float64
prof                     float64
plan                     float64
surf                     float64
situ                     float64
vma                      float64
place                    float64
catu                       int64
grav                     float64
sexe                     float64
age_usager               float64
protection                 int64
protection2                int64
infra_présente             int64
dtype: object

In [317]:
df_final['vma'].value_counts()

vma
50.0     219520
30.0      77215
80.0      56777
90.0      37136
70.0      31224
110.0     15514
130.0     10401
20.0       1447
60.0        856
10.0        649
40.0        450
25.0        314
15.0        225
5.0         168
100.0       127
45.0        123
1.0          73
500.0        69
2.0          35
6.0          27
3.0          22
300.0        20
35.0         15
95.0          8
75.0          5
4.0           4
900.0         4
700.0         4
301.0         3
31.0          3
65.0          3
23.0          3
16.0          2
140.0         2
0.0           2
800.0         1
85.0          1
55.0          1
Name: count, dtype: int64

In [330]:
outliers_vma = df_final[(df_final['vma'] > 130) | (df_final['vma'] < 30)]
outliers_vma

,Num_Acc,lum,agg,int,atm,col,lat,long,Date,catr,circ,nbv,vosp,prof,plan,surf,situ,vma,place,catu,grav,sexe,age_usager,protection,protection2,infra_présente
60,202400000015,1.0,2,3.0,1.0,1.0,"48,89577200","2,38361200",2024-03-25 09:00:00,4,1,2,0.0,1.0,1.0,1.0,8.0,20.0,1.0,1,4.0,2.0,26.0,3,2,0
61,202400000015,1.0,2,3.0,1.0,1.0,"48,89577200","2,38361200",2024-03-25 09:00:00,4,1,2,0.0,1.0,1.0,1.0,8.0,20.0,1.0,1,4.0,2.0,36.0,1,2,0
62,202400000015,1.0,2,3.0,1.0,1.0,"48,89577200","2,38361200",2024-03-25 09:00:00,4,2,2,3.0,2.0,1.0,1.0,8.0,20.0,1.0,1,4.0,2.0,26.0,3,2,1
63,202400000015,1.0,2,3.0,1.0,1.0,"48,89577200","2,38361200",2024-03-25 09:00:00,4,2,2,3.0,2.0,1.0,1.0,8.0,20.0,1.0,1,4.0,2.0,36.0,1,2,1
101,202400000026,1.0,2,1.0,1.0,6.0,"47,89795000","1,91140000",2024-09-19 17:13:00,4,2,2,1.0,1.0,1.0,1.0,6.0,25.0,1.0,1,1.0,1.0,29.0,3,2,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
452410,202200055081,1.0,2,9.0,1.0,6.0,"46,1975900000","6,2639200000",2022-08-08 16:20:00,6,2,0,0.0,1.0,1.0,1.0,1.0,20.0,1.0,1,1.0,1.0,39.0,3,2,1
452454,202200055104,1.0,2,3.0,1.0,3.0,"46,8062600000","4,4298300000",2022-08-08 09:45:00,4,2,2,0.0,1.0,2.0,1.0,1.0,20.0,1.0,1,4.0,1.0,64.0,1,2,0
452455,202200055104,1.0,2,3.0,1.0,3.0,"46,8062600000","4,4298300000",2022-08-08 09:45:00,4,2,2,0.0,1.0,2.0,1.0,1.0,20.0,1.0,1,4.0,1.0,68.0,1,2,0
452794,202200055262,1.0,1,1.0,1.0,6.0,"43,6584500000","4,6541400000",2022-03-22 11:00:00,4,2,1,0.0,1.0,1.0,1.0,8.0,20.0,1.0,1,1.0,1.0,42.0,1,3,0
452795,202200055262,1.0,1,1.0,1.0,6.0,"43,6584500000","4,6541400000",2022-03-22 11:00:00,4,2,1,0.0,1.0,1.0,1.0,8.0,20.0,10.0,3,2.0,2.0,76.0,2,3,0

In [331]:
df_final = df_final[(df_final['vma'] >= 30) & (df_final['vma'] <= 130)]
df_final

,Num_Acc,lum,agg,int,atm,col,lat,long,Date,catr,circ,nbv,vosp,prof,plan,surf,situ,vma,place,catu,grav,sexe,age_usager,protection,protection2,infra_présente
0,202400000001,2.0,1,1.0,5.0,1.0,"47,56277000","6,75832000",2024-03-25 07:40:00,3,2,2,0.0,1.0,2.0,1.0,1.0,90.0,1.0,1,3.0,1.0,21.0,1,3,0
1,202400000001,2.0,1,1.0,5.0,1.0,"47,56277000","6,75832000",2024-03-25 07:40:00,3,2,2,0.0,1.0,2.0,1.0,1.0,90.0,1.0,1,1.0,1.0,27.0,1,3,0
2,202400000002,1.0,2,3.0,7.0,6.0,"47,02109000","4,83755000",2024-03-20 15:05:00,4,2,2,0.0,1.0,1.0,9.0,1.0,30.0,10.0,3,3.0,2.0,97.0,2,3,0
3,202400000002,1.0,2,3.0,7.0,6.0,"47,02109000","4,83755000",2024-03-20 15:05:00,4,2,2,0.0,1.0,1.0,9.0,1.0,30.0,1.0,1,1.0,1.0,37.0,1,2,0
4,202400000002,1.0,2,3.0,7.0,6.0,"47,02109000","4,83755000",2024-03-20 15:05:00,4,1,1,0.0,1.0,1.0,9.0,1.0,30.0,10.0,3,3.0,2.0,97.0,2,3,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
452884,202200055301,1.0,1,3.0,1.0,3.0,"43,9272650000","1,9156370000",2022-01-01 08:40:00,3,2,2,0.0,1.0,1.0,1.0,1.0,80.0,1.0,1,1.0,2.0,20.0,1,3,0
452885,202200055301,1.0,1,3.0,1.0,3.0,"43,9272650000","1,9156370000",2022-01-01 08:40:00,3,2,2,0.0,1.0,1.0,1.0,1.0,80.0,8.0,2,3.0,2.0,18.0,1,3,0
452886,202200055301,1.0,1,3.0,1.0,3.0,"43,9272650000","1,9156370000",2022-01-01 08:40:00,3,2,2,0.0,1.0,1.0,1.0,1.0,80.0,1.0,1,4.0,2.0,69.0,1,3,0
452887,202200055302,1.0,2,1.0,1.0,2.0,"47,5944040000","1,3533290000",2022-03-01 16:55:00,3,3,4,0.0,1.0,1.0,1.0,1.0,70.0,1.0,1,3.0,1.0,30.0,1,1,0
452888,202200055302,1.0,2,1.0,1.0,2.0,"47,5944040000","1,3533290000",2022-03-01 16:55:00,3,3,4,0.0,1.0,1.0,1.0,1.0,70.0,1.0,1,1.0,1.0,22.0,1,3,0

In [332]:
df_final['vma'].value_counts()

vma
50.0     219520
30.0      77215
80.0      56777
90.0      37136
70.0      31224
110.0     15514
130.0     10401
60.0        856
40.0        450
100.0       127
45.0        123
35.0         15
95.0          8
75.0          5
65.0          3
31.0          3
85.0          1
55.0          1
Name: count, dtype: int64

In [334]:
df_final['vma'] = df_final['vma'].round(-1)
df_final['vma'].value_counts()

C:\Users\Utilisateur\AppData\Local\Temp\ipykernel_1160\734171922.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_final['vma'] = df_final['vma'].round(-1)

vma
50     219520
30      77218
80      56783
90      37136
70      31224
110     15514
130     10401
60        860
40        588
100       135
Name: count, dtype: int64

In [335]:
df_final

,Num_Acc,lum,agg,int,atm,col,lat,long,Date,catr,circ,nbv,vosp,prof,plan,surf,situ,vma,place,catu,grav,sexe,age_usager,protection,protection2,infra_présente
0,202400000001,2.0,1,1.0,5.0,1.0,"47,56277000","6,75832000",2024-03-25 07:40:00,3,2,2,0.0,1.0,2.0,1.0,1.0,90,1.0,1,3.0,1.0,21.0,1,3,0
1,202400000001,2.0,1,1.0,5.0,1.0,"47,56277000","6,75832000",2024-03-25 07:40:00,3,2,2,0.0,1.0,2.0,1.0,1.0,90,1.0,1,1.0,1.0,27.0,1,3,0
2,202400000002,1.0,2,3.0,7.0,6.0,"47,02109000","4,83755000",2024-03-20 15:05:00,4,2,2,0.0,1.0,1.0,9.0,1.0,30,10.0,3,3.0,2.0,97.0,2,3,0
3,202400000002,1.0,2,3.0,7.0,6.0,"47,02109000","4,83755000",2024-03-20 15:05:00,4,2,2,0.0,1.0,1.0,9.0,1.0,30,1.0,1,1.0,1.0,37.0,1,2,0
4,202400000002,1.0,2,3.0,7.0,6.0,"47,02109000","4,83755000",2024-03-20 15:05:00,4,1,1,0.0,1.0,1.0,9.0,1.0,30,10.0,3,3.0,2.0,97.0,2,3,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
452884,202200055301,1.0,1,3.0,1.0,3.0,"43,9272650000","1,9156370000",2022-01-01 08:40:00,3,2,2,0.0,1.0,1.0,1.0,1.0,80,1.0,1,1.0,2.0,20.0,1,3,0
452885,202200055301,1.0,1,3.0,1.0,3.0,"43,9272650000","1,9156370000",2022-01-01 08:40:00,3,2,2,0.0,1.0,1.0,1.0,1.0,80,8.0,2,3.0,2.0,18.0,1,3,0
452886,202200055301,1.0,1,3.0,1.0,3.0,"43,9272650000","1,9156370000",2022-01-01 08:40:00,3,2,2,0.0,1.0,1.0,1.0,1.0,80,1.0,1,4.0,2.0,69.0,1,3,0
452887,202200055302,1.0,2,1.0,1.0,2.0,"47,5944040000","1,3533290000",2022-03-01 16:55:00,3,3,4,0.0,1.0,1.0,1.0,1.0,70,1.0,1,3.0,1.0,30.0,1,1,0
452888,202200055302,1.0,2,1.0,1.0,2.0,"47,5944040000","1,3533290000",2022-03-01 16:55:00,3,3,4,0.0,1.0,1.0,1.0,1.0,70,1.0,1,1.0,1.0,22.0,1,3,0

In [336]:
df_final.isna().sum()

Num_Acc           0
lum               0
agg               0
int               0
atm               0
                 ..
sexe              0
age_usager        0
protection        0
protection2       0
infra_présente    0
Length: 26, dtype: int64

In [337]:
df_final

,Num_Acc,lum,agg,int,atm,col,lat,long,Date,catr,circ,nbv,vosp,prof,plan,surf,situ,vma,place,catu,grav,sexe,age_usager,protection,protection2,infra_présente
0,202400000001,2.0,1,1.0,5.0,1.0,"47,56277000","6,75832000",2024-03-25 07:40:00,3,2,2,0.0,1.0,2.0,1.0,1.0,90,1.0,1,3.0,1.0,21.0,1,3,0
1,202400000001,2.0,1,1.0,5.0,1.0,"47,56277000","6,75832000",2024-03-25 07:40:00,3,2,2,0.0,1.0,2.0,1.0,1.0,90,1.0,1,1.0,1.0,27.0,1,3,0
2,202400000002,1.0,2,3.0,7.0,6.0,"47,02109000","4,83755000",2024-03-20 15:05:00,4,2,2,0.0,1.0,1.0,9.0,1.0,30,10.0,3,3.0,2.0,97.0,2,3,0
3,202400000002,1.0,2,3.0,7.0,6.0,"47,02109000","4,83755000",2024-03-20 15:05:00,4,2,2,0.0,1.0,1.0,9.0,1.0,30,1.0,1,1.0,1.0,37.0,1,2,0
4,202400000002,1.0,2,3.0,7.0,6.0,"47,02109000","4,83755000",2024-03-20 15:05:00,4,1,1,0.0,1.0,1.0,9.0,1.0,30,10.0,3,3.0,2.0,97.0,2,3,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
452884,202200055301,1.0,1,3.0,1.0,3.0,"43,9272650000","1,9156370000",2022-01-01 08:40:00,3,2,2,0.0,1.0,1.0,1.0,1.0,80,1.0,1,1.0,2.0,20.0,1,3,0
452885,202200055301,1.0,1,3.0,1.0,3.0,"43,9272650000","1,9156370000",2022-01-01 08:40:00,3,2,2,0.0,1.0,1.0,1.0,1.0,80,8.0,2,3.0,2.0,18.0,1,3,0
452886,202200055301,1.0,1,3.0,1.0,3.0,"43,9272650000","1,9156370000",2022-01-01 08:40:00,3,2,2,0.0,1.0,1.0,1.0,1.0,80,1.0,1,4.0,2.0,69.0,1,3,0
452887,202200055302,1.0,2,1.0,1.0,2.0,"47,5944040000","1,3533290000",2022-03-01 16:55:00,3,3,4,0.0,1.0,1.0,1.0,1.0,70,1.0,1,3.0,1.0,30.0,1,1,0
452888,202200055302,1.0,2,1.0,1.0,2.0,"47,5944040000","1,3533290000",2022-03-01 16:55:00,3,3,4,0.0,1.0,1.0,1.0,1.0,70,1.0,1,1.0,1.0,22.0,1,3,0

In [338]:
df_final.to_csv('accidents_clean_final.csv')