In [272]:
import pandas as pd

In [273]:
path = 'caract-2024.csv'
path2 = 'lieux-2024.csv'
path3 = 'usagers-2024.csv'

In [274]:
caract_2k24 = pd.read_csv(path, sep=";")
lieux_2k24 =  pd.read_csv(path2, sep=";")
us_2k24 = pd.read_csv(path3, sep=";")

In [275]:
caract_2k24

,Num_Acc,jour,mois,an,hrmn,lum,dep,com,agg,int,atm,col,adr,lat,long
0,202400000001,25,3,2024,07:40,2,70,70285,1,1,5,1,D438,"47,56277000","6,75832000"
1,202400000002,20,3,2024,15:05,1,21,21054,2,3,7,6,HOTEL DIEU (RUE DE L'),"47,02109000","4,83755000"
2,202400000003,22,3,2024,19:30,2,15,15012,1,1,1,6,Allée des Tilleuls,"44,90238400","2,49641800"
3,202400000004,24,3,2024,17:50,1,14,14118,2,3,7,3,128 Rue d'Authie,"49,19166000","-0,39851000"
4,202400000005,25,3,2024,19:35,5,13,13106,1,3,2,5,BEDOULE (CHEMIN DE LA),"43,39000000","5,35000000"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
54397,202400054398,10,7,2024,02:05,5,94,94065,2,3,2,6,Avenue Charles Lindbergh,"48,75740000","2,34469000"
54398,202400054399,30,11,2024,15:27,1,92,92062,2,1,1,6,RUE PIERRE GAUDIN,"48,88694322","2,24863619"
54399,202400054400,24,10,2024,20:40,3,29,29068,1,1,1,1,PK 031.950 RN12,"48,52619024","-3,96317650"
54400,202400054401,30,11,2024,15:40,1,92,92012,2,1,1,3,JEAN JAURES (BOULEVARD) 63/215 - 70/208,"48,83286197","2,24394009"
54401,202400054402,10,7,2024,08:30,1,94,94028,2,1,1,4,Avenue de la Pompadour,"48,78330000","2,46660000"

In [276]:
lieux_2k24

,Num_Acc,catr,voie,v1,v2,circ,nbv,vosp,prof,pr,pr1,plan,lartpc,larrout,surf,infra,situ,vma
0,202400000001,3,D438,0,NaN,2,2,0,1,1,260,2,NaN,7,1,0,1,90
1,202400000002,4,HOTEL DIEU (RUE DE L'),0,NaN,2,2,0,1,-1,-1,1,NaN,-1,9,0,1,30
2,202400000002,4,POTERNE (RUE),0,NaN,1,1,0,1,-1,-1,1,NaN,-1,9,0,1,30
3,202400000003,4,TILLEULS (ALLEE DES),0,NaN,2,2,0,1,-1,-1,1,NaN,-1,1,0,3,50
4,202400000004,4,AUTHIE (N° 106 PAIRS -115 IMPAIRS),0,NaN,2,4,0,1,-1,-1,1,NaN,-1,1,9,1,50
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
70243,202400054398,3,NaN,-1,NaN,1,1,-1,1,-1,-1,1,NaN,-1,2,5,4,-1
70244,202400054399,3,RUE PIERRE GAUDIN,0,NaN,1,1,2,1,0,0,2,NaN,-1,1,0,1,30
70245,202400054400,2,12,0,NaN,1,2,0,2,31,1 000,1,NaN,10,1,0,1,110
70246,202400054401,3,JEAN JAURES (BOULEVARD) 63/215 - 70/208,0,NaN,2,3,0,1,0,0,1,NaN,"10,5",1,0,1,50
70247,202400054402,3,86,0,NaN,1,2,0,2,0,0,1,NaN,-1,1,2,1,50

In [277]:
us_2k24

,Num_Acc,id_usager,id_vehicule,num_veh,place,catu,grav,sexe,an_nais,trajet,secu1,secu2,secu3,locp,actp,etatp
0,202400000001,203 988 581,155 781 758,A01,1,1,3,1,2003.0,2,1,-1,-1,-1,-1,-1
1,202400000001,203 988 582,155 781 759,B01,1,1,1,1,1997.0,4,1,-1,-1,-1,-1,-1
2,202400000002,203 988 579,155 781 757,A01,10,3,3,2,1927.0,5,0,-1,-1,3,3,1
3,202400000002,203 988 580,155 781 757,A01,1,1,1,1,1987.0,4,1,0,-1,3,3,1
4,202400000003,203 988 574,155 781 756,A01,2,2,4,2,2007.0,5,8,0,-1,-1,-1,-1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
125182,202400054401,203 859 570,155 686 119,Y01,1,1,4,2,1978.0,0,0,0,0,-1,-1,-1
125183,202400054401,203 859 572,155 686 120,A01,1,1,1,1,1984.0,0,2,6,0,-1,-1,-1
125184,202400054402,203 859 569,155 686 118,A01,1,1,4,1,1981.0,4,1,0,-1,-1,-1,-1
125185,202400054402,203 859 571,155 686 121,B01,1,1,4,2,1986.0,9,1,0,-1,-1,-1,-1
125186,202400054402,203 859 574,155 686 123,C01,1,1,1,1,1990.0,4,1,0,-1,-1,-1,-1

In [278]:
caract_2k24.isna().sum()

Num_Acc       0
jour          0
mois          0
an            0
hrmn          0
lum           0
dep           0
com           0
agg           0
int           0
atm           0
col           0
adr        2310
lat           0
long          0
dtype: int64

In [279]:
caract_2k24.dtypes

Num_Acc     int64
jour        int64
mois        int64
an          int64
hrmn       object
lum         int64
dep        object
com        object
agg         int64
int         int64
atm         int64
col         int64
adr        object
lat        object
long       object
dtype: object

In [280]:
caract_2k24.describe()

,Num_Acc,jour,mois,an,lum,agg,int,atm,col
count,5.440200e+04,54402.000000,54402.000000,54402.0,54402.000000,54402.000000,54402.000000,54402.000000,54402.000000
mean,2.024000e+11,15.665490,6.615749,2024.0,1.949708,1.625161,2.108195,1.677493,4.018069
std,1.570465e+04,8.737761,3.361701,0.0,1.488462,0.484086,2.042602,1.736956,1.984560
min,2.024000e+11,1.000000,1.000000,2024.0,1.000000,1.000000,1.000000,1.000000,-1.000000
25%,2.024000e+11,8.000000,4.000000,2024.0,1.000000,1.000000,1.000000,1.000000,3.000000
50%,2.024000e+11,16.000000,7.000000,2024.0,1.000000,2.000000,1.000000,1.000000,3.000000
75%,2.024000e+11,23.000000,10.000000,2024.0,3.000000,2.000000,2.000000,1.000000,6.000000
max,2.024001e+11,31.000000,12.000000,2024.0,5.000000,2.000000,9.000000,9.000000,7.000000

In [281]:
# l'adresse n'est pas une valeur pertinente pour entraîner un modèle

In [282]:
df_caract = caract_2k24.drop("adr", axis=1)

In [283]:
df_caract.isna().sum()

Num_Acc    0
jour       0
mois       0
an         0
hrmn       0
lum        0
dep        0
com        0
agg        0
int        0
atm        0
col        0
lat        0
long       0
dtype: int64

In [284]:
lieux_2k24

,Num_Acc,catr,voie,v1,v2,circ,nbv,vosp,prof,pr,pr1,plan,lartpc,larrout,surf,infra,situ,vma
0,202400000001,3,D438,0,NaN,2,2,0,1,1,260,2,NaN,7,1,0,1,90
1,202400000002,4,HOTEL DIEU (RUE DE L'),0,NaN,2,2,0,1,-1,-1,1,NaN,-1,9,0,1,30
2,202400000002,4,POTERNE (RUE),0,NaN,1,1,0,1,-1,-1,1,NaN,-1,9,0,1,30
3,202400000003,4,TILLEULS (ALLEE DES),0,NaN,2,2,0,1,-1,-1,1,NaN,-1,1,0,3,50
4,202400000004,4,AUTHIE (N° 106 PAIRS -115 IMPAIRS),0,NaN,2,4,0,1,-1,-1,1,NaN,-1,1,9,1,50
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
70243,202400054398,3,NaN,-1,NaN,1,1,-1,1,-1,-1,1,NaN,-1,2,5,4,-1
70244,202400054399,3,RUE PIERRE GAUDIN,0,NaN,1,1,2,1,0,0,2,NaN,-1,1,0,1,30
70245,202400054400,2,12,0,NaN,1,2,0,2,31,1 000,1,NaN,10,1,0,1,110
70246,202400054401,3,JEAN JAURES (BOULEVARD) 63/215 - 70/208,0,NaN,2,3,0,1,0,0,1,NaN,"10,5",1,0,1,50
70247,202400054402,3,86,0,NaN,1,2,0,2,0,0,1,NaN,-1,1,2,1,50

In [285]:
lieux_2k24.isna().sum()

Num_Acc        0
catr           0
voie       13331
v1             0
v2         64332
circ           0
nbv            0
vosp           0
prof           0
pr             0
pr1            0
plan           0
lartpc     70215
larrout        0
surf           0
infra          0
situ           0
vma            0
dtype: int64

In [286]:
#lartpc et v2 représente 95% de valeur nulles, elles ne sont donc pas exploitable
#voie représente le numéro de la route, ce n'est pas non plus une donnée pertinente pour entraîner un modèle, je drop

In [287]:
df_lieux = lieux_2k24.drop("lartpc", axis=1)
df_lieux = df_lieux.drop("v2", axis=1)
df_lieux = df_lieux.drop("voie", axis=1)

In [288]:
df_lieux

,Num_Acc,catr,v1,circ,nbv,vosp,prof,pr,pr1,plan,larrout,surf,infra,situ,vma
0,202400000001,3,0,2,2,0,1,1,260,2,7,1,0,1,90
1,202400000002,4,0,2,2,0,1,-1,-1,1,-1,9,0,1,30
2,202400000002,4,0,1,1,0,1,-1,-1,1,-1,9,0,1,30
3,202400000003,4,0,2,2,0,1,-1,-1,1,-1,1,0,3,50
4,202400000004,4,0,2,4,0,1,-1,-1,1,-1,1,9,1,50
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
70243,202400054398,3,-1,1,1,-1,1,-1,-1,1,-1,2,5,4,-1
70244,202400054399,3,0,1,1,2,1,0,0,2,-1,1,0,1,30
70245,202400054400,2,0,1,2,0,2,31,1 000,1,10,1,0,1,110
70246,202400054401,3,0,2,3,0,1,0,0,1,"10,5",1,0,1,50
70247,202400054402,3,0,1,2,0,2,0,0,1,-1,1,2,1,50

In [289]:
us_2k24.isna().sum()

Num_Acc           0
id_usager         0
id_vehicule       0
num_veh           0
place             0
catu              0
grav              0
sexe              0
an_nais        2579
trajet            0
secu1             0
secu2             0
secu3             0
locp              0
actp              0
etatp             0
dtype: int64

In [290]:
us_2k24

,Num_Acc,id_usager,id_vehicule,num_veh,place,catu,grav,sexe,an_nais,trajet,secu1,secu2,secu3,locp,actp,etatp
0,202400000001,203 988 581,155 781 758,A01,1,1,3,1,2003.0,2,1,-1,-1,-1,-1,-1
1,202400000001,203 988 582,155 781 759,B01,1,1,1,1,1997.0,4,1,-1,-1,-1,-1,-1
2,202400000002,203 988 579,155 781 757,A01,10,3,3,2,1927.0,5,0,-1,-1,3,3,1
3,202400000002,203 988 580,155 781 757,A01,1,1,1,1,1987.0,4,1,0,-1,3,3,1
4,202400000003,203 988 574,155 781 756,A01,2,2,4,2,2007.0,5,8,0,-1,-1,-1,-1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
125182,202400054401,203 859 570,155 686 119,Y01,1,1,4,2,1978.0,0,0,0,0,-1,-1,-1
125183,202400054401,203 859 572,155 686 120,A01,1,1,1,1,1984.0,0,2,6,0,-1,-1,-1
125184,202400054402,203 859 569,155 686 118,A01,1,1,4,1,1981.0,4,1,0,-1,-1,-1,-1
125185,202400054402,203 859 571,155 686 121,B01,1,1,4,2,1986.0,9,1,0,-1,-1,-1,-1
125186,202400054402,203 859 574,155 686 123,C01,1,1,1,1,1990.0,4,1,0,-1,-1,-1,-1

In [291]:
us_2k24.describe()

,Num_Acc,place,catu,grav,sexe,an_nais,trajet,secu1,secu2,secu3,locp,etatp
count,1.251870e+05,125187.000000,125187.000000,125187.000000,125187.000000,122608.000000,125187.000000,125187.000000,125187.000000,125187.000000,125187.000000,125187.000000
mean,2.024000e+11,2.100745,1.335554,2.524208,1.272696,1985.075411,3.069009,1.938788,0.843906,-0.800994,-0.223002,-0.814605
std,1.567431e+04,2.584540,0.610862,1.374424,0.559575,19.327486,2.762129,2.384028,2.910122,1.067398,1.276891,0.638087
min,2.024000e+11,-1.000000,1.000000,1.000000,-1.000000,1914.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000
25%,2.024000e+11,1.000000,1.000000,1.000000,1.000000,1971.000000,0.000000,1.000000,-1.000000,-1.000000,-1.000000,-1.000000
50%,2.024000e+11,1.000000,1.000000,3.000000,1.000000,1988.000000,4.000000,1.000000,0.000000,-1.000000,0.000000,-1.000000
75%,2.024000e+11,2.000000,2.000000,4.000000,2.000000,2001.000000,5.000000,2.000000,0.000000,-1.000000,0.000000,-1.000000
max,2.024001e+11,10.000000,3.000000,4.000000,2.000000,2024.000000,9.000000,9.000000,9.000000,9.000000,9.000000,3.000000

In [292]:
# 2579 valeurs manquantes pour l'année de naissance, comme cela représente une infime partie du df je le remplace par la médiane

In [293]:
âge_médian = us_2k24["an_nais"].median()
df_usagers = us_2k24.fillna({"an_nais" : âge_médian})

In [294]:
df_usagers

,Num_Acc,id_usager,id_vehicule,num_veh,place,catu,grav,sexe,an_nais,trajet,secu1,secu2,secu3,locp,actp,etatp
0,202400000001,203 988 581,155 781 758,A01,1,1,3,1,2003.0,2,1,-1,-1,-1,-1,-1
1,202400000001,203 988 582,155 781 759,B01,1,1,1,1,1997.0,4,1,-1,-1,-1,-1,-1
2,202400000002,203 988 579,155 781 757,A01,10,3,3,2,1927.0,5,0,-1,-1,3,3,1
3,202400000002,203 988 580,155 781 757,A01,1,1,1,1,1987.0,4,1,0,-1,3,3,1
4,202400000003,203 988 574,155 781 756,A01,2,2,4,2,2007.0,5,8,0,-1,-1,-1,-1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
125182,202400054401,203 859 570,155 686 119,Y01,1,1,4,2,1978.0,0,0,0,0,-1,-1,-1
125183,202400054401,203 859 572,155 686 120,A01,1,1,1,1,1984.0,0,2,6,0,-1,-1,-1
125184,202400054402,203 859 569,155 686 118,A01,1,1,4,1,1981.0,4,1,0,-1,-1,-1,-1
125185,202400054402,203 859 571,155 686 121,B01,1,1,4,2,1986.0,9,1,0,-1,-1,-1,-1
125186,202400054402,203 859 574,155 686 123,C01,1,1,1,1,1990.0,4,1,0,-1,-1,-1,-1

In [295]:
#Merge des df une fois nettoyé + drop valeurs dupliquées

In [296]:
df_MERGE = pd.merge(df_caract, df_lieux, on="Num_Acc")
df_2024 = pd.merge(df_MERGE, df_usagers, on="Num_Acc")

In [297]:
df_2024.duplicated().sum()

np.int64(3531)

In [298]:
df_2024 = df_2024.drop_duplicates()

In [299]:
df_2024.duplicated().sum()

np.int64(0)

In [300]:
df_2024

,Num_Acc,jour,mois,an,hrmn,lum,dep,com,agg,int,atm,col,lat,long,catr,v1,circ,nbv,vosp,prof,pr,pr1,plan,larrout,surf,infra,situ,vma,id_usager,id_vehicule,num_veh,place,catu,grav,sexe,an_nais,trajet,secu1,secu2,secu3,locp,actp,etatp
0,202400000001,25,3,2024,07:40,2,70,70285,1,1,5,1,"47,56277000","6,75832000",3,0,2,2,0,1,1,260,2,7,1,0,1,90,203 988 581,155 781 758,A01,1,1,3,1,2003.0,2,1,-1,-1,-1,-1,-1
1,202400000001,25,3,2024,07:40,2,70,70285,1,1,5,1,"47,56277000","6,75832000",3,0,2,2,0,1,1,260,2,7,1,0,1,90,203 988 582,155 781 759,B01,1,1,1,1,1997.0,4,1,-1,-1,-1,-1,-1
2,202400000002,20,3,2024,15:05,1,21,21054,2,3,7,6,"47,02109000","4,83755000",4,0,2,2,0,1,-1,-1,1,-1,9,0,1,30,203 988 579,155 781 757,A01,10,3,3,2,1927.0,5,0,-1,-1,3,3,1
3,202400000002,20,3,2024,15:05,1,21,21054,2,3,7,6,"47,02109000","4,83755000",4,0,2,2,0,1,-1,-1,1,-1,9,0,1,30,203 988 580,155 781 757,A01,1,1,1,1,1987.0,4,1,0,-1,3,3,1
4,202400000002,20,3,2024,15:05,1,21,21054,2,3,7,6,"47,02109000","4,83755000",4,0,1,1,0,1,-1,-1,1,-1,9,0,1,30,203 988 579,155 781 757,A01,10,3,3,2,1927.0,5,0,-1,-1,3,3,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
162543,202400054401,30,11,2024,15:40,1,92,92012,2,1,1,3,"48,83286197","2,24394009",3,0,2,3,0,1,0,0,1,"10,5",1,0,1,50,203 859 570,155 686 119,Y01,1,1,4,2,1978.0,0,0,0,0,-1,-1,-1
162544,202400054401,30,11,2024,15:40,1,92,92012,2,1,1,3,"48,83286197","2,24394009",3,0,2,3,0,1,0,0,1,"10,5",1,0,1,50,203 859 572,155 686 120,A01,1,1,1,1,1984.0,0,2,6,0,-1,-1,-1
162545,202400054402,10,7,2024,08:30,1,94,94028,2,1,1,4,"48,78330000","2,46660000",3,0,1,2,0,2,0,0,1,-1,1,2,1,50,203 859 569,155 686 118,A01,1,1,4,1,1981.0,4,1,0,-1,-1,-1,-1
162546,202400054402,10,7,2024,08:30,1,94,94028,2,1,1,4,"48,78330000","2,46660000",3,0,1,2,0,2,0,0,1,-1,1,2,1,50,203 859 571,155 686 121,B01,1,1,4,2,1986.0,9,1,0,-1,-1,-1,-1
162547,202400054402,10,7,2024,08:30,1,94,94028,2,1,1,4,"48,78330000","2,46660000",3,0,1,2,0,2,0,0,1,-1,1,2,1,50,203 859 574,155 686 123,C01,1,1,1,1,1990.0,4,1,0,-1,-1,-1,-1

In [301]:
pd.set_option('display.max_columns', None)

In [302]:
df_2024

,Num_Acc,jour,mois,an,hrmn,lum,dep,com,agg,int,atm,col,lat,long,catr,v1,circ,nbv,vosp,prof,pr,pr1,plan,larrout,surf,infra,situ,vma,id_usager,id_vehicule,num_veh,place,catu,grav,sexe,an_nais,trajet,secu1,secu2,secu3,locp,actp,etatp
0,202400000001,25,3,2024,07:40,2,70,70285,1,1,5,1,"47,56277000","6,75832000",3,0,2,2,0,1,1,260,2,7,1,0,1,90,203 988 581,155 781 758,A01,1,1,3,1,2003.0,2,1,-1,-1,-1,-1,-1
1,202400000001,25,3,2024,07:40,2,70,70285,1,1,5,1,"47,56277000","6,75832000",3,0,2,2,0,1,1,260,2,7,1,0,1,90,203 988 582,155 781 759,B01,1,1,1,1,1997.0,4,1,-1,-1,-1,-1,-1
2,202400000002,20,3,2024,15:05,1,21,21054,2,3,7,6,"47,02109000","4,83755000",4,0,2,2,0,1,-1,-1,1,-1,9,0,1,30,203 988 579,155 781 757,A01,10,3,3,2,1927.0,5,0,-1,-1,3,3,1
3,202400000002,20,3,2024,15:05,1,21,21054,2,3,7,6,"47,02109000","4,83755000",4,0,2,2,0,1,-1,-1,1,-1,9,0,1,30,203 988 580,155 781 757,A01,1,1,1,1,1987.0,4,1,0,-1,3,3,1
4,202400000002,20,3,2024,15:05,1,21,21054,2,3,7,6,"47,02109000","4,83755000",4,0,1,1,0,1,-1,-1,1,-1,9,0,1,30,203 988 579,155 781 757,A01,10,3,3,2,1927.0,5,0,-1,-1,3,3,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
162543,202400054401,30,11,2024,15:40,1,92,92012,2,1,1,3,"48,83286197","2,24394009",3,0,2,3,0,1,0,0,1,"10,5",1,0,1,50,203 859 570,155 686 119,Y01,1,1,4,2,1978.0,0,0,0,0,-1,-1,-1
162544,202400054401,30,11,2024,15:40,1,92,92012,2,1,1,3,"48,83286197","2,24394009",3,0,2,3,0,1,0,0,1,"10,5",1,0,1,50,203 859 572,155 686 120,A01,1,1,1,1,1984.0,0,2,6,0,-1,-1,-1
162545,202400054402,10,7,2024,08:30,1,94,94028,2,1,1,4,"48,78330000","2,46660000",3,0,1,2,0,2,0,0,1,-1,1,2,1,50,203 859 569,155 686 118,A01,1,1,4,1,1981.0,4,1,0,-1,-1,-1,-1
162546,202400054402,10,7,2024,08:30,1,94,94028,2,1,1,4,"48,78330000","2,46660000",3,0,1,2,0,2,0,0,1,-1,1,2,1,50,203 859 571,155 686 121,B01,1,1,4,2,1986.0,9,1,0,-1,-1,-1,-1
162547,202400054402,10,7,2024,08:30,1,94,94028,2,1,1,4,"48,78330000","2,46660000",3,0,1,2,0,2,0,0,1,-1,1,2,1,50,203 859 574,155 686 123,C01,1,1,1,1,1990.0,4,1,0,-1,-1,-1,-1

In [303]:
df_2024.dtypes

Num_Acc          int64
jour             int64
mois             int64
an               int64
hrmn            object
lum              int64
dep             object
com             object
agg              int64
int              int64
atm              int64
col              int64
lat             object
long            object
catr             int64
v1               int64
circ             int64
nbv             object
vosp             int64
prof             int64
pr              object
pr1             object
plan             int64
larrout         object
surf             int64
infra            int64
situ             int64
vma              int64
id_usager       object
id_vehicule     object
num_veh         object
place            int64
catu             int64
grav             int64
sexe             int64
an_nais        float64
trajet           int64
secu1            int64
secu2            int64
secu3            int64
locp             int64
actp            object
etatp            int64
dtype: object

In [304]:
result = df_2024[df_2024["v1"] == 0]
result

,Num_Acc,jour,mois,an,hrmn,lum,dep,com,agg,int,atm,col,lat,long,catr,v1,circ,nbv,vosp,prof,pr,pr1,plan,larrout,surf,infra,situ,vma,id_usager,id_vehicule,num_veh,place,catu,grav,sexe,an_nais,trajet,secu1,secu2,secu3,locp,actp,etatp
0,202400000001,25,3,2024,07:40,2,70,70285,1,1,5,1,"47,56277000","6,75832000",3,0,2,2,0,1,1,260,2,7,1,0,1,90,203 988 581,155 781 758,A01,1,1,3,1,2003.0,2,1,-1,-1,-1,-1,-1
1,202400000001,25,3,2024,07:40,2,70,70285,1,1,5,1,"47,56277000","6,75832000",3,0,2,2,0,1,1,260,2,7,1,0,1,90,203 988 582,155 781 759,B01,1,1,1,1,1997.0,4,1,-1,-1,-1,-1,-1
2,202400000002,20,3,2024,15:05,1,21,21054,2,3,7,6,"47,02109000","4,83755000",4,0,2,2,0,1,-1,-1,1,-1,9,0,1,30,203 988 579,155 781 757,A01,10,3,3,2,1927.0,5,0,-1,-1,3,3,1
3,202400000002,20,3,2024,15:05,1,21,21054,2,3,7,6,"47,02109000","4,83755000",4,0,2,2,0,1,-1,-1,1,-1,9,0,1,30,203 988 580,155 781 757,A01,1,1,1,1,1987.0,4,1,0,-1,3,3,1
4,202400000002,20,3,2024,15:05,1,21,21054,2,3,7,6,"47,02109000","4,83755000",4,0,1,1,0,1,-1,-1,1,-1,9,0,1,30,203 988 579,155 781 757,A01,10,3,3,2,1927.0,5,0,-1,-1,3,3,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
162543,202400054401,30,11,2024,15:40,1,92,92012,2,1,1,3,"48,83286197","2,24394009",3,0,2,3,0,1,0,0,1,"10,5",1,0,1,50,203 859 570,155 686 119,Y01,1,1,4,2,1978.0,0,0,0,0,-1,-1,-1
162544,202400054401,30,11,2024,15:40,1,92,92012,2,1,1,3,"48,83286197","2,24394009",3,0,2,3,0,1,0,0,1,"10,5",1,0,1,50,203 859 572,155 686 120,A01,1,1,1,1,1984.0,0,2,6,0,-1,-1,-1
162545,202400054402,10,7,2024,08:30,1,94,94028,2,1,1,4,"48,78330000","2,46660000",3,0,1,2,0,2,0,0,1,-1,1,2,1,50,203 859 569,155 686 118,A01,1,1,4,1,1981.0,4,1,0,-1,-1,-1,-1
162546,202400054402,10,7,2024,08:30,1,94,94028,2,1,1,4,"48,78330000","2,46660000",3,0,1,2,0,2,0,0,1,-1,1,2,1,50,203 859 571,155 686 121,B01,1,1,4,2,1986.0,9,1,0,-1,-1,-1,-1
162547,202400054402,10,7,2024,08:30,1,94,94028,2,1,1,4,"48,78330000","2,46660000",3,0,1,2,0,2,0,0,1,-1,1,2,1,50,203 859 574,155 686 123,C01,1,1,1,1,1990.0,4,1,0,-1,-1,-1,-1

In [305]:
#Pour vosp la valeur 0 correspond à voie sans objet, ce n'est donc pas une valeur nulle mais une valeur pertinente, le 0 représente 82% de la colonne
#Peut-être mérite t'elle d'être approfondi ?

In [306]:
result_2 = df_2024[df_2024["vosp"] == 0]
result_2

,Num_Acc,jour,mois,an,hrmn,lum,dep,com,agg,int,atm,col,lat,long,catr,v1,circ,nbv,vosp,prof,pr,pr1,plan,larrout,surf,infra,situ,vma,id_usager,id_vehicule,num_veh,place,catu,grav,sexe,an_nais,trajet,secu1,secu2,secu3,locp,actp,etatp
0,202400000001,25,3,2024,07:40,2,70,70285,1,1,5,1,"47,56277000","6,75832000",3,0,2,2,0,1,1,260,2,7,1,0,1,90,203 988 581,155 781 758,A01,1,1,3,1,2003.0,2,1,-1,-1,-1,-1,-1
1,202400000001,25,3,2024,07:40,2,70,70285,1,1,5,1,"47,56277000","6,75832000",3,0,2,2,0,1,1,260,2,7,1,0,1,90,203 988 582,155 781 759,B01,1,1,1,1,1997.0,4,1,-1,-1,-1,-1,-1
2,202400000002,20,3,2024,15:05,1,21,21054,2,3,7,6,"47,02109000","4,83755000",4,0,2,2,0,1,-1,-1,1,-1,9,0,1,30,203 988 579,155 781 757,A01,10,3,3,2,1927.0,5,0,-1,-1,3,3,1
3,202400000002,20,3,2024,15:05,1,21,21054,2,3,7,6,"47,02109000","4,83755000",4,0,2,2,0,1,-1,-1,1,-1,9,0,1,30,203 988 580,155 781 757,A01,1,1,1,1,1987.0,4,1,0,-1,3,3,1
4,202400000002,20,3,2024,15:05,1,21,21054,2,3,7,6,"47,02109000","4,83755000",4,0,1,1,0,1,-1,-1,1,-1,9,0,1,30,203 988 579,155 781 757,A01,10,3,3,2,1927.0,5,0,-1,-1,3,3,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
162543,202400054401,30,11,2024,15:40,1,92,92012,2,1,1,3,"48,83286197","2,24394009",3,0,2,3,0,1,0,0,1,"10,5",1,0,1,50,203 859 570,155 686 119,Y01,1,1,4,2,1978.0,0,0,0,0,-1,-1,-1
162544,202400054401,30,11,2024,15:40,1,92,92012,2,1,1,3,"48,83286197","2,24394009",3,0,2,3,0,1,0,0,1,"10,5",1,0,1,50,203 859 572,155 686 120,A01,1,1,1,1,1984.0,0,2,6,0,-1,-1,-1
162545,202400054402,10,7,2024,08:30,1,94,94028,2,1,1,4,"48,78330000","2,46660000",3,0,1,2,0,2,0,0,1,-1,1,2,1,50,203 859 569,155 686 118,A01,1,1,4,1,1981.0,4,1,0,-1,-1,-1,-1
162546,202400054402,10,7,2024,08:30,1,94,94028,2,1,1,4,"48,78330000","2,46660000",3,0,1,2,0,2,0,0,1,-1,1,2,1,50,203 859 571,155 686 121,B01,1,1,4,2,1986.0,9,1,0,-1,-1,-1,-1
162547,202400054402,10,7,2024,08:30,1,94,94028,2,1,1,4,"48,78330000","2,46660000",3,0,1,2,0,2,0,0,1,-1,1,2,1,50,203 859 574,155 686 123,C01,1,1,1,1,1990.0,4,1,0,-1,-1,-1,-1

In [307]:
#Pour infra aussi la valeur 0 représente 82% de la colonne

In [308]:
result_3 = df_2024[df_2024["infra"] == 0]
result_3

,Num_Acc,jour,mois,an,hrmn,lum,dep,com,agg,int,atm,col,lat,long,catr,v1,circ,nbv,vosp,prof,pr,pr1,plan,larrout,surf,infra,situ,vma,id_usager,id_vehicule,num_veh,place,catu,grav,sexe,an_nais,trajet,secu1,secu2,secu3,locp,actp,etatp
0,202400000001,25,3,2024,07:40,2,70,70285,1,1,5,1,"47,56277000","6,75832000",3,0,2,2,0,1,1,260,2,7,1,0,1,90,203 988 581,155 781 758,A01,1,1,3,1,2003.0,2,1,-1,-1,-1,-1,-1
1,202400000001,25,3,2024,07:40,2,70,70285,1,1,5,1,"47,56277000","6,75832000",3,0,2,2,0,1,1,260,2,7,1,0,1,90,203 988 582,155 781 759,B01,1,1,1,1,1997.0,4,1,-1,-1,-1,-1,-1
2,202400000002,20,3,2024,15:05,1,21,21054,2,3,7,6,"47,02109000","4,83755000",4,0,2,2,0,1,-1,-1,1,-1,9,0,1,30,203 988 579,155 781 757,A01,10,3,3,2,1927.0,5,0,-1,-1,3,3,1
3,202400000002,20,3,2024,15:05,1,21,21054,2,3,7,6,"47,02109000","4,83755000",4,0,2,2,0,1,-1,-1,1,-1,9,0,1,30,203 988 580,155 781 757,A01,1,1,1,1,1987.0,4,1,0,-1,3,3,1
4,202400000002,20,3,2024,15:05,1,21,21054,2,3,7,6,"47,02109000","4,83755000",4,0,1,1,0,1,-1,-1,1,-1,9,0,1,30,203 988 579,155 781 757,A01,10,3,3,2,1927.0,5,0,-1,-1,3,3,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
162540,202400054400,24,10,2024,20:40,3,29,29068,1,1,1,1,"48,52619024","-3,96317650",2,0,1,2,0,2,31,1 000,1,10,1,0,1,110,203 859 573,155 686 122,A01,10,3,1,1,1949.0,5,0,-1,-1,6,9,1
162541,202400054400,24,10,2024,20:40,3,29,29068,1,1,1,1,"48,52619024","-3,96317650",2,0,1,2,0,2,31,1 000,1,10,1,0,1,110,203 859 575,155 686 124,B01,2,2,2,1,1997.0,1,1,-1,-1,0,0,-1
162542,202400054400,24,10,2024,20:40,3,29,29068,1,1,1,1,"48,52619024","-3,96317650",2,0,1,2,0,2,31,1 000,1,10,1,0,1,110,203 859 576,155 686 124,B01,1,1,3,1,2003.0,1,1,-1,-1,0,0,-1
162543,202400054401,30,11,2024,15:40,1,92,92012,2,1,1,3,"48,83286197","2,24394009",3,0,2,3,0,1,0,0,1,"10,5",1,0,1,50,203 859 570,155 686 119,Y01,1,1,4,2,1978.0,0,0,0,0,-1,-1,-1
162544,202400054401,30,11,2024,15:40,1,92,92012,2,1,1,3,"48,83286197","2,24394009",3,0,2,3,0,1,0,0,1,"10,5",1,0,1,50,203 859 572,155 686 120,A01,1,1,1,1,1984.0,0,2,6,0,-1,-1,-1

In [309]:
result_4 = df_2024[df_2024["vma"] == 0]
result_4

,Num_Acc,jour,mois,an,hrmn,lum,dep,com,agg,int,atm,col,lat,long,catr,v1,circ,nbv,vosp,prof,pr,pr1,plan,larrout,surf,infra,situ,vma,id_usager,id_vehicule,num_veh,place,catu,grav,sexe,an_nais,trajet,secu1,secu2,secu3,locp,actp,etatp
127760,202400042683,1,11,2024,15:30,1,69,69029,2,2,1,6,"45,73680000","4,91659000",4,-1,2,2,0,1,-1,-1,1,-1,1,0,1,0,203 887 259,155 706 589,A01,10,3,4,1,1987.0,0,0,-1,-1,4,3,1
127761,202400042683,1,11,2024,15:30,1,69,69029,2,2,1,6,"45,73680000","4,91659000",4,-1,2,2,0,1,-1,-1,1,-1,1,0,1,0,203 887 261,155 706 589,A01,1,1,1,2,1944.0,0,1,-1,-1,-1,-1,-1

In [310]:
# je remplace les 2 valeurs manquantes par la valeur médiane, cela ne devrait pas trop affecter le modèle

In [311]:
col_median = df_2024["vma"].median()
df_2024.loc[df_2024["vma"] == 0, "vma"] = col_median

In [312]:
#Il est renseigné dans la doc que -1 et 0 correspondent à la meme description pour la colonne trajet, je vais donc transformer tous les 0 en -1

In [313]:
result_5 = df_2024[df_2024["trajet"] == 0]
result_5

,Num_Acc,jour,mois,an,hrmn,lum,dep,com,agg,int,atm,col,lat,long,catr,v1,circ,nbv,vosp,prof,pr,pr1,plan,larrout,surf,infra,situ,vma,id_usager,id_vehicule,num_veh,place,catu,grav,sexe,an_nais,trajet,secu1,secu2,secu3,locp,actp,etatp
13,202400000005,25,3,2024,19:35,5,13,13106,1,3,2,5,"43,39000000","5,35000000",1,0,2,4,0,1,1,0,1,17,2,0,1,50,203 988 569,155 781 750,A01,1,1,4,1,1981.0,0,8,0,-1,-1,-1,-1
14,202400000005,25,3,2024,19:35,5,13,13106,1,3,2,5,"43,39000000","5,35000000",1,0,2,4,0,1,1,0,1,17,2,0,1,50,203 988 570,155 781 751,B01,1,1,4,2,2005.0,0,8,0,-1,-1,-1,-1
15,202400000005,25,3,2024,19:35,5,13,13106,1,3,2,5,"43,39000000","5,35000000",1,0,2,4,0,1,1,0,1,17,2,0,1,50,203 988 571,155 781 752,C01,1,1,1,1,2000.0,0,8,0,-1,-1,-1,-1
16,202400000005,25,3,2024,19:35,5,13,13106,1,3,2,5,"43,39000000","5,35000000",1,0,2,4,0,1,1,0,1,17,2,0,1,50,203 988 572,155 781 753,D01,1,1,4,2,1963.0,0,8,0,-1,-1,-1,-1
17,202400000005,25,3,2024,19:35,5,13,13106,1,3,2,5,"43,39000000","5,35000000",1,0,2,4,1,2,272,0,1,17,2,0,1,70,203 988 569,155 781 750,A01,1,1,4,1,1981.0,0,8,0,-1,-1,-1,-1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
162522,202400054395,10,7,2024,09:50,1,94,94073,1,1,1,2,"48,74624000","2,37267000",3,0,2,2,0,1,0,0,1,7,1,0,1,50,203 859 581,155 686 128,A01,1,1,4,1,1998.0,0,8,0,-1,-1,-1,-1
162523,202400054395,10,7,2024,09:50,1,94,94073,1,1,1,2,"48,74624000","2,37267000",3,0,2,2,0,1,0,0,1,7,1,0,1,50,203 859 584,155 686 131,B01,1,1,4,1,2005.0,0,8,0,-1,-1,-1,-1
162531,202400054397,16,10,2024,16:50,1,54,54514,1,1,1,5,"49,50407600","5,62983500",3,-1,2,2,0,1,10,580,1,7,1,0,1,80,203 859 586,155 686 132,C01,1,1,1,1,1996.0,0,1,-1,-1,0,0,-1
162543,202400054401,30,11,2024,15:40,1,92,92012,2,1,1,3,"48,83286197","2,24394009",3,0,2,3,0,1,0,0,1,"10,5",1,0,1,50,203 859 570,155 686 119,Y01,1,1,4,2,1978.0,0,0,0,0,-1,-1,-1
162544,202400054401,30,11,2024,15:40,1,92,92012,2,1,1,3,"48,83286197","2,24394009",3,0,2,3,0,1,0,0,1,"10,5",1,0,1,50,203 859 572,155 686 120,A01,1,1,1,1,1984.0,0,2,6,0,-1,-1,-1

In [314]:
df_2024.loc[df_2024["trajet"] == 0, "trajet"] = -1

In [315]:
result_5 = df_2024[df_2024["trajet"] == -1]
result_5

,Num_Acc,jour,mois,an,hrmn,lum,dep,com,agg,int,atm,col,lat,long,catr,v1,circ,nbv,vosp,prof,pr,pr1,plan,larrout,surf,infra,situ,vma,id_usager,id_vehicule,num_veh,place,catu,grav,sexe,an_nais,trajet,secu1,secu2,secu3,locp,actp,etatp
13,202400000005,25,3,2024,19:35,5,13,13106,1,3,2,5,"43,39000000","5,35000000",1,0,2,4,0,1,1,0,1,17,2,0,1,50,203 988 569,155 781 750,A01,1,1,4,1,1981.0,-1,8,0,-1,-1,-1,-1
14,202400000005,25,3,2024,19:35,5,13,13106,1,3,2,5,"43,39000000","5,35000000",1,0,2,4,0,1,1,0,1,17,2,0,1,50,203 988 570,155 781 751,B01,1,1,4,2,2005.0,-1,8,0,-1,-1,-1,-1
15,202400000005,25,3,2024,19:35,5,13,13106,1,3,2,5,"43,39000000","5,35000000",1,0,2,4,0,1,1,0,1,17,2,0,1,50,203 988 571,155 781 752,C01,1,1,1,1,2000.0,-1,8,0,-1,-1,-1,-1
16,202400000005,25,3,2024,19:35,5,13,13106,1,3,2,5,"43,39000000","5,35000000",1,0,2,4,0,1,1,0,1,17,2,0,1,50,203 988 572,155 781 753,D01,1,1,4,2,1963.0,-1,8,0,-1,-1,-1,-1
17,202400000005,25,3,2024,19:35,5,13,13106,1,3,2,5,"43,39000000","5,35000000",1,0,2,4,1,2,272,0,1,17,2,0,1,70,203 988 569,155 781 750,A01,1,1,4,1,1981.0,-1,8,0,-1,-1,-1,-1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
162522,202400054395,10,7,2024,09:50,1,94,94073,1,1,1,2,"48,74624000","2,37267000",3,0,2,2,0,1,0,0,1,7,1,0,1,50,203 859 581,155 686 128,A01,1,1,4,1,1998.0,-1,8,0,-1,-1,-1,-1
162523,202400054395,10,7,2024,09:50,1,94,94073,1,1,1,2,"48,74624000","2,37267000",3,0,2,2,0,1,0,0,1,7,1,0,1,50,203 859 584,155 686 131,B01,1,1,4,1,2005.0,-1,8,0,-1,-1,-1,-1
162531,202400054397,16,10,2024,16:50,1,54,54514,1,1,1,5,"49,50407600","5,62983500",3,-1,2,2,0,1,10,580,1,7,1,0,1,80,203 859 586,155 686 132,C01,1,1,1,1,1996.0,-1,1,-1,-1,0,0,-1
162543,202400054401,30,11,2024,15:40,1,92,92012,2,1,1,3,"48,83286197","2,24394009",3,0,2,3,0,1,0,0,1,"10,5",1,0,1,50,203 859 570,155 686 119,Y01,1,1,4,2,1978.0,-1,0,0,0,-1,-1,-1
162544,202400054401,30,11,2024,15:40,1,92,92012,2,1,1,3,"48,83286197","2,24394009",3,0,2,3,0,1,0,0,1,"10,5",1,0,1,50,203 859 572,155 686 120,A01,1,1,1,1,1984.0,-1,2,6,0,-1,-1,-1

In [316]:
#JE NE SAIS PAS QUOI FAIRE DE CETTE VALUER

In [317]:
result_6 = df_2024[df_2024["secu2"] == -1]
result_6

,Num_Acc,jour,mois,an,hrmn,lum,dep,com,agg,int,atm,col,lat,long,catr,v1,circ,nbv,vosp,prof,pr,pr1,plan,larrout,surf,infra,situ,vma,id_usager,id_vehicule,num_veh,place,catu,grav,sexe,an_nais,trajet,secu1,secu2,secu3,locp,actp,etatp
0,202400000001,25,3,2024,07:40,2,70,70285,1,1,5,1,"47,56277000","6,75832000",3,0,2,2,0,1,1,260,2,7,1,0,1,90,203 988 581,155 781 758,A01,1,1,3,1,2003.0,2,1,-1,-1,-1,-1,-1
1,202400000001,25,3,2024,07:40,2,70,70285,1,1,5,1,"47,56277000","6,75832000",3,0,2,2,0,1,1,260,2,7,1,0,1,90,203 988 582,155 781 759,B01,1,1,1,1,1997.0,4,1,-1,-1,-1,-1,-1
2,202400000002,20,3,2024,15:05,1,21,21054,2,3,7,6,"47,02109000","4,83755000",4,0,2,2,0,1,-1,-1,1,-1,9,0,1,30,203 988 579,155 781 757,A01,10,3,3,2,1927.0,5,0,-1,-1,3,3,1
4,202400000002,20,3,2024,15:05,1,21,21054,2,3,7,6,"47,02109000","4,83755000",4,0,1,1,0,1,-1,-1,1,-1,9,0,1,30,203 988 579,155 781 757,A01,10,3,3,2,1927.0,5,0,-1,-1,3,3,1
7,202400000003,22,3,2024,19:30,2,15,15012,1,1,1,6,"44,90238400","2,49641800",4,0,2,2,0,1,-1,-1,1,-1,1,0,3,50,203 988 575,155 781 756,A01,10,3,4,1,2007.0,5,0,-1,-1,6,B,3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
162534,202400054397,16,10,2024,16:50,1,54,54514,1,1,1,5,"49,50407600","5,62983500",3,-1,2,2,0,1,10,580,1,7,1,0,1,80,203 859 596,155 686 140,F01,2,2,1,2,2009.0,2,1,-1,-1,0,0,-1
162535,202400054397,16,10,2024,16:50,1,54,54514,1,1,1,5,"49,50407600","5,62983500",3,-1,2,2,0,1,10,580,1,7,1,0,1,80,203 859 597,155 686 140,F01,1,1,1,1,1976.0,2,1,-1,-1,0,0,-1
162540,202400054400,24,10,2024,20:40,3,29,29068,1,1,1,1,"48,52619024","-3,96317650",2,0,1,2,0,2,31,1 000,1,10,1,0,1,110,203 859 573,155 686 122,A01,10,3,1,1,1949.0,5,0,-1,-1,6,9,1
162541,202400054400,24,10,2024,20:40,3,29,29068,1,1,1,1,"48,52619024","-3,96317650",2,0,1,2,0,2,31,1 000,1,10,1,0,1,110,203 859 575,155 686 124,B01,2,2,2,1,1997.0,1,1,-1,-1,0,0,-1
162542,202400054400,24,10,2024,20:40,3,29,29068,1,1,1,1,"48,52619024","-3,96317650",2,0,1,2,0,2,31,1 000,1,10,1,0,1,110,203 859 576,155 686 124,B01,1,1,3,1,2003.0,1,1,-1,-1,0,0,-1

In [318]:
# 90 % de valeur manquante pour colonne secu3, je drop

In [319]:
result_7 = df_2024[df_2024["secu3"] == -1]
result_7

,Num_Acc,jour,mois,an,hrmn,lum,dep,com,agg,int,atm,col,lat,long,catr,v1,circ,nbv,vosp,prof,pr,pr1,plan,larrout,surf,infra,situ,vma,id_usager,id_vehicule,num_veh,place,catu,grav,sexe,an_nais,trajet,secu1,secu2,secu3,locp,actp,etatp
0,202400000001,25,3,2024,07:40,2,70,70285,1,1,5,1,"47,56277000","6,75832000",3,0,2,2,0,1,1,260,2,7,1,0,1,90,203 988 581,155 781 758,A01,1,1,3,1,2003.0,2,1,-1,-1,-1,-1,-1
1,202400000001,25,3,2024,07:40,2,70,70285,1,1,5,1,"47,56277000","6,75832000",3,0,2,2,0,1,1,260,2,7,1,0,1,90,203 988 582,155 781 759,B01,1,1,1,1,1997.0,4,1,-1,-1,-1,-1,-1
2,202400000002,20,3,2024,15:05,1,21,21054,2,3,7,6,"47,02109000","4,83755000",4,0,2,2,0,1,-1,-1,1,-1,9,0,1,30,203 988 579,155 781 757,A01,10,3,3,2,1927.0,5,0,-1,-1,3,3,1
3,202400000002,20,3,2024,15:05,1,21,21054,2,3,7,6,"47,02109000","4,83755000",4,0,2,2,0,1,-1,-1,1,-1,9,0,1,30,203 988 580,155 781 757,A01,1,1,1,1,1987.0,4,1,0,-1,3,3,1
4,202400000002,20,3,2024,15:05,1,21,21054,2,3,7,6,"47,02109000","4,83755000",4,0,1,1,0,1,-1,-1,1,-1,9,0,1,30,203 988 579,155 781 757,A01,10,3,3,2,1927.0,5,0,-1,-1,3,3,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
162541,202400054400,24,10,2024,20:40,3,29,29068,1,1,1,1,"48,52619024","-3,96317650",2,0,1,2,0,2,31,1 000,1,10,1,0,1,110,203 859 575,155 686 124,B01,2,2,2,1,1997.0,1,1,-1,-1,0,0,-1
162542,202400054400,24,10,2024,20:40,3,29,29068,1,1,1,1,"48,52619024","-3,96317650",2,0,1,2,0,2,31,1 000,1,10,1,0,1,110,203 859 576,155 686 124,B01,1,1,3,1,2003.0,1,1,-1,-1,0,0,-1
162545,202400054402,10,7,2024,08:30,1,94,94028,2,1,1,4,"48,78330000","2,46660000",3,0,1,2,0,2,0,0,1,-1,1,2,1,50,203 859 569,155 686 118,A01,1,1,4,1,1981.0,4,1,0,-1,-1,-1,-1
162546,202400054402,10,7,2024,08:30,1,94,94028,2,1,1,4,"48,78330000","2,46660000",3,0,1,2,0,2,0,0,1,-1,1,2,1,50,203 859 571,155 686 121,B01,1,1,4,2,1986.0,9,1,0,-1,-1,-1,-1
162547,202400054402,10,7,2024,08:30,1,94,94028,2,1,1,4,"48,78330000","2,46660000",3,0,1,2,0,2,0,0,1,-1,1,2,1,50,203 859 574,155 686 123,C01,1,1,1,1,1990.0,4,1,0,-1,-1,-1,-1

In [320]:
df_2024 = df_2024.drop("secu3", axis=1)
df_2024

,Num_Acc,jour,mois,an,hrmn,lum,dep,com,agg,int,atm,col,lat,long,catr,v1,circ,nbv,vosp,prof,pr,pr1,plan,larrout,surf,infra,situ,vma,id_usager,id_vehicule,num_veh,place,catu,grav,sexe,an_nais,trajet,secu1,secu2,locp,actp,etatp
0,202400000001,25,3,2024,07:40,2,70,70285,1,1,5,1,"47,56277000","6,75832000",3,0,2,2,0,1,1,260,2,7,1,0,1,90,203 988 581,155 781 758,A01,1,1,3,1,2003.0,2,1,-1,-1,-1,-1
1,202400000001,25,3,2024,07:40,2,70,70285,1,1,5,1,"47,56277000","6,75832000",3,0,2,2,0,1,1,260,2,7,1,0,1,90,203 988 582,155 781 759,B01,1,1,1,1,1997.0,4,1,-1,-1,-1,-1
2,202400000002,20,3,2024,15:05,1,21,21054,2,3,7,6,"47,02109000","4,83755000",4,0,2,2,0,1,-1,-1,1,-1,9,0,1,30,203 988 579,155 781 757,A01,10,3,3,2,1927.0,5,0,-1,3,3,1
3,202400000002,20,3,2024,15:05,1,21,21054,2,3,7,6,"47,02109000","4,83755000",4,0,2,2,0,1,-1,-1,1,-1,9,0,1,30,203 988 580,155 781 757,A01,1,1,1,1,1987.0,4,1,0,3,3,1
4,202400000002,20,3,2024,15:05,1,21,21054,2,3,7,6,"47,02109000","4,83755000",4,0,1,1,0,1,-1,-1,1,-1,9,0,1,30,203 988 579,155 781 757,A01,10,3,3,2,1927.0,5,0,-1,3,3,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
162543,202400054401,30,11,2024,15:40,1,92,92012,2,1,1,3,"48,83286197","2,24394009",3,0,2,3,0,1,0,0,1,"10,5",1,0,1,50,203 859 570,155 686 119,Y01,1,1,4,2,1978.0,-1,0,0,-1,-1,-1
162544,202400054401,30,11,2024,15:40,1,92,92012,2,1,1,3,"48,83286197","2,24394009",3,0,2,3,0,1,0,0,1,"10,5",1,0,1,50,203 859 572,155 686 120,A01,1,1,1,1,1984.0,-1,2,6,-1,-1,-1
162545,202400054402,10,7,2024,08:30,1,94,94028,2,1,1,4,"48,78330000","2,46660000",3,0,1,2,0,2,0,0,1,-1,1,2,1,50,203 859 569,155 686 118,A01,1,1,4,1,1981.0,4,1,0,-1,-1,-1
162546,202400054402,10,7,2024,08:30,1,94,94028,2,1,1,4,"48,78330000","2,46660000",3,0,1,2,0,2,0,0,1,-1,1,2,1,50,203 859 571,155 686 121,B01,1,1,4,2,1986.0,9,1,0,-1,-1,-1
162547,202400054402,10,7,2024,08:30,1,94,94028,2,1,1,4,"48,78330000","2,46660000",3,0,1,2,0,2,0,0,1,-1,1,2,1,50,203 859 574,155 686 123,C01,1,1,1,1,1990.0,4,1,0,-1,-1,-1

In [321]:
# 78956 piétons non renseignéés et 66977 ne sont pas présents

In [322]:
df_2024["locp"].value_counts()

locp
-1    78956
 0    66977
 3     4332
 2     2635
 4     2387
 1     1629
 5     1021
 9      561
 6      345
 8      167
 7        7
Name: count, dtype: int64

In [323]:
df_2024 = df_2024.drop("locp", axis = 1 )
df_2024

,Num_Acc,jour,mois,an,hrmn,lum,dep,com,agg,int,atm,col,lat,long,catr,v1,circ,nbv,vosp,prof,pr,pr1,plan,larrout,surf,infra,situ,vma,id_usager,id_vehicule,num_veh,place,catu,grav,sexe,an_nais,trajet,secu1,secu2,actp,etatp
0,202400000001,25,3,2024,07:40,2,70,70285,1,1,5,1,"47,56277000","6,75832000",3,0,2,2,0,1,1,260,2,7,1,0,1,90,203 988 581,155 781 758,A01,1,1,3,1,2003.0,2,1,-1,-1,-1
1,202400000001,25,3,2024,07:40,2,70,70285,1,1,5,1,"47,56277000","6,75832000",3,0,2,2,0,1,1,260,2,7,1,0,1,90,203 988 582,155 781 759,B01,1,1,1,1,1997.0,4,1,-1,-1,-1
2,202400000002,20,3,2024,15:05,1,21,21054,2,3,7,6,"47,02109000","4,83755000",4,0,2,2,0,1,-1,-1,1,-1,9,0,1,30,203 988 579,155 781 757,A01,10,3,3,2,1927.0,5,0,-1,3,1
3,202400000002,20,3,2024,15:05,1,21,21054,2,3,7,6,"47,02109000","4,83755000",4,0,2,2,0,1,-1,-1,1,-1,9,0,1,30,203 988 580,155 781 757,A01,1,1,1,1,1987.0,4,1,0,3,1
4,202400000002,20,3,2024,15:05,1,21,21054,2,3,7,6,"47,02109000","4,83755000",4,0,1,1,0,1,-1,-1,1,-1,9,0,1,30,203 988 579,155 781 757,A01,10,3,3,2,1927.0,5,0,-1,3,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
162543,202400054401,30,11,2024,15:40,1,92,92012,2,1,1,3,"48,83286197","2,24394009",3,0,2,3,0,1,0,0,1,"10,5",1,0,1,50,203 859 570,155 686 119,Y01,1,1,4,2,1978.0,-1,0,0,-1,-1
162544,202400054401,30,11,2024,15:40,1,92,92012,2,1,1,3,"48,83286197","2,24394009",3,0,2,3,0,1,0,0,1,"10,5",1,0,1,50,203 859 572,155 686 120,A01,1,1,1,1,1984.0,-1,2,6,-1,-1
162545,202400054402,10,7,2024,08:30,1,94,94028,2,1,1,4,"48,78330000","2,46660000",3,0,1,2,0,2,0,0,1,-1,1,2,1,50,203 859 569,155 686 118,A01,1,1,4,1,1981.0,4,1,0,-1,-1
162546,202400054402,10,7,2024,08:30,1,94,94028,2,1,1,4,"48,78330000","2,46660000",3,0,1,2,0,2,0,0,1,-1,1,2,1,50,203 859 571,155 686 121,B01,1,1,4,2,1986.0,9,1,0,-1,-1
162547,202400054402,10,7,2024,08:30,1,94,94028,2,1,1,4,"48,78330000","2,46660000",3,0,1,2,0,2,0,0,1,-1,1,2,1,50,203 859 574,155 686 123,C01,1,1,1,1,1990.0,4,1,0,-1,-1

In [324]:
result_9 = df_2024[df_2024["actp"] == "0"]
result_9

,Num_Acc,jour,mois,an,hrmn,lum,dep,com,agg,int,atm,col,lat,long,catr,v1,circ,nbv,vosp,prof,pr,pr1,plan,larrout,surf,infra,situ,vma,id_usager,id_vehicule,num_veh,place,catu,grav,sexe,an_nais,trajet,secu1,secu2,actp,etatp
11,202400000004,24,3,2024,17:50,1,14,14118,2,3,7,3,"49,19166000","-0,39851000",4,0,2,4,0,1,-1,-1,1,-1,1,9,1,50,203 988 573,155 781 754,B01,1,1,4,1,1963.0,5,2,6,0,-1
12,202400000004,24,3,2024,17:50,1,14,14118,2,3,7,3,"49,19166000","-0,39851000",4,0,2,2,0,1,-1,-1,1,-1,1,0,1,50,203 988 573,155 781 754,B01,1,1,4,1,1963.0,5,2,6,0,-1
45,202400000010,25,3,2024,19:50,5,06,06088,2,1,1,7,"43,69906900","7,27610000",4,0,1,2,1,1,0,0,1,-1,1,0,5,50,203 988 546,155 781 740,A01,1,1,3,1,1979.0,-1,2,6,0,-1
47,202400000011,24,3,2024,19:35,2,75,75112,2,1,1,2,"48,84046000","2,41368600",4,0,1,4,0,1,32,600,1,-1,1,0,1,70,203 988 540,155 781 739,A01,1,1,1,1,2003.0,5,1,4,0,-1
48,202400000011,24,3,2024,19:35,2,75,75112,2,1,1,2,"48,84046000","2,41368600",4,0,1,4,0,1,32,600,1,-1,1,0,1,70,203 988 541,155 781 739,A01,7,2,1,2,2012.0,5,1,4,0,-1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
162533,202400054397,16,10,2024,16:50,1,54,54514,1,1,1,5,"49,50407600","5,62983500",3,-1,2,2,0,1,10,580,1,7,1,0,1,80,203 859 594,155 686 138,E01,1,1,4,2,1957.0,5,1,-1,0,-1
162534,202400054397,16,10,2024,16:50,1,54,54514,1,1,1,5,"49,50407600","5,62983500",3,-1,2,2,0,1,10,580,1,7,1,0,1,80,203 859 596,155 686 140,F01,2,2,1,2,2009.0,2,1,-1,0,-1
162535,202400054397,16,10,2024,16:50,1,54,54514,1,1,1,5,"49,50407600","5,62983500",3,-1,2,2,0,1,10,580,1,7,1,0,1,80,203 859 597,155 686 140,F01,1,1,1,1,1976.0,2,1,-1,0,-1
162541,202400054400,24,10,2024,20:40,3,29,29068,1,1,1,1,"48,52619024","-3,96317650",2,0,1,2,0,2,31,1 000,1,10,1,0,1,110,203 859 575,155 686 124,B01,2,2,2,1,1997.0,1,1,-1,0,-1
162542,202400054400,24,10,2024,20:40,3,29,29068,1,1,1,1,"48,52619024","-3,96317650",2,0,1,2,0,2,31,1 000,1,10,1,0,1,110,203 859 576,155 686 124,B01,1,1,3,1,2003.0,1,1,-1,0,-1

### BEAUCOUP DE -1 ET DE 0 POUR LE PIETON JE DROP

In [325]:
df_2024["actp"].value_counts()

actp
 -1    78898
0      67056
3       9965
9        811
1        758
B        428
5        379
2        372
A        170
4        113
7         28
6         24
8         15
Name: count, dtype: int64

In [326]:
df_2024 = df_2024.drop('actp', axis=1)

In [327]:
result_10 = df_2024[df_2024["etatp"] == -1]
result_10

,Num_Acc,jour,mois,an,hrmn,lum,dep,com,agg,int,atm,col,lat,long,catr,v1,circ,nbv,vosp,prof,pr,pr1,plan,larrout,surf,infra,situ,vma,id_usager,id_vehicule,num_veh,place,catu,grav,sexe,an_nais,trajet,secu1,secu2,etatp
0,202400000001,25,3,2024,07:40,2,70,70285,1,1,5,1,"47,56277000","6,75832000",3,0,2,2,0,1,1,260,2,7,1,0,1,90,203 988 581,155 781 758,A01,1,1,3,1,2003.0,2,1,-1,-1
1,202400000001,25,3,2024,07:40,2,70,70285,1,1,5,1,"47,56277000","6,75832000",3,0,2,2,0,1,1,260,2,7,1,0,1,90,203 988 582,155 781 759,B01,1,1,1,1,1997.0,4,1,-1,-1
6,202400000003,22,3,2024,19:30,2,15,15012,1,1,1,6,"44,90238400","2,49641800",4,0,2,2,0,1,-1,-1,1,-1,1,0,3,50,203 988 574,155 781 756,A01,2,2,4,2,2007.0,5,8,0,-1
9,202400000003,22,3,2024,19:30,2,15,15012,1,1,1,6,"44,90238400","2,49641800",4,0,2,2,0,1,-1,-1,1,-1,1,0,3,50,203 988 577,155 781 756,A01,1,1,4,2,2007.0,5,8,0,-1
11,202400000004,24,3,2024,17:50,1,14,14118,2,3,7,3,"49,19166000","-0,39851000",4,0,2,4,0,1,-1,-1,1,-1,1,9,1,50,203 988 573,155 781 754,B01,1,1,4,1,1963.0,5,2,6,-1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
162543,202400054401,30,11,2024,15:40,1,92,92012,2,1,1,3,"48,83286197","2,24394009",3,0,2,3,0,1,0,0,1,"10,5",1,0,1,50,203 859 570,155 686 119,Y01,1,1,4,2,1978.0,-1,0,0,-1
162544,202400054401,30,11,2024,15:40,1,92,92012,2,1,1,3,"48,83286197","2,24394009",3,0,2,3,0,1,0,0,1,"10,5",1,0,1,50,203 859 572,155 686 120,A01,1,1,1,1,1984.0,-1,2,6,-1
162545,202400054402,10,7,2024,08:30,1,94,94028,2,1,1,4,"48,78330000","2,46660000",3,0,1,2,0,2,0,0,1,-1,1,2,1,50,203 859 569,155 686 118,A01,1,1,4,1,1981.0,4,1,0,-1
162546,202400054402,10,7,2024,08:30,1,94,94028,2,1,1,4,"48,78330000","2,46660000",3,0,1,2,0,2,0,0,1,-1,1,2,1,50,203 859 571,155 686 121,B01,1,1,4,2,1986.0,9,1,0,-1
162547,202400054402,10,7,2024,08:30,1,94,94028,2,1,1,4,"48,78330000","2,46660000",3,0,1,2,0,2,0,0,1,-1,1,2,1,50,203 859 574,155 686 123,C01,1,1,1,1,1990.0,4,1,0,-1

In [328]:
df_2024 = df_2024.drop('etatp', axis=1)
df_2024

,Num_Acc,jour,mois,an,hrmn,lum,dep,com,agg,int,atm,col,lat,long,catr,v1,circ,nbv,vosp,prof,pr,pr1,plan,larrout,surf,infra,situ,vma,id_usager,id_vehicule,num_veh,place,catu,grav,sexe,an_nais,trajet,secu1,secu2
0,202400000001,25,3,2024,07:40,2,70,70285,1,1,5,1,"47,56277000","6,75832000",3,0,2,2,0,1,1,260,2,7,1,0,1,90,203 988 581,155 781 758,A01,1,1,3,1,2003.0,2,1,-1
1,202400000001,25,3,2024,07:40,2,70,70285,1,1,5,1,"47,56277000","6,75832000",3,0,2,2,0,1,1,260,2,7,1,0,1,90,203 988 582,155 781 759,B01,1,1,1,1,1997.0,4,1,-1
2,202400000002,20,3,2024,15:05,1,21,21054,2,3,7,6,"47,02109000","4,83755000",4,0,2,2,0,1,-1,-1,1,-1,9,0,1,30,203 988 579,155 781 757,A01,10,3,3,2,1927.0,5,0,-1
3,202400000002,20,3,2024,15:05,1,21,21054,2,3,7,6,"47,02109000","4,83755000",4,0,2,2,0,1,-1,-1,1,-1,9,0,1,30,203 988 580,155 781 757,A01,1,1,1,1,1987.0,4,1,0
4,202400000002,20,3,2024,15:05,1,21,21054,2,3,7,6,"47,02109000","4,83755000",4,0,1,1,0,1,-1,-1,1,-1,9,0,1,30,203 988 579,155 781 757,A01,10,3,3,2,1927.0,5,0,-1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
162543,202400054401,30,11,2024,15:40,1,92,92012,2,1,1,3,"48,83286197","2,24394009",3,0,2,3,0,1,0,0,1,"10,5",1,0,1,50,203 859 570,155 686 119,Y01,1,1,4,2,1978.0,-1,0,0
162544,202400054401,30,11,2024,15:40,1,92,92012,2,1,1,3,"48,83286197","2,24394009",3,0,2,3,0,1,0,0,1,"10,5",1,0,1,50,203 859 572,155 686 120,A01,1,1,1,1,1984.0,-1,2,6
162545,202400054402,10,7,2024,08:30,1,94,94028,2,1,1,4,"48,78330000","2,46660000",3,0,1,2,0,2,0,0,1,-1,1,2,1,50,203 859 569,155 686 118,A01,1,1,4,1,1981.0,4,1,0
162546,202400054402,10,7,2024,08:30,1,94,94028,2,1,1,4,"48,78330000","2,46660000",3,0,1,2,0,2,0,0,1,-1,1,2,1,50,203 859 571,155 686 121,B01,1,1,4,2,1986.0,9,1,0
162547,202400054402,10,7,2024,08:30,1,94,94028,2,1,1,4,"48,78330000","2,46660000",3,0,1,2,0,2,0,0,1,-1,1,2,1,50,203 859 574,155 686 123,C01,1,1,1,1,1990.0,4,1,0

In [329]:
df_2024['lat'] = df_2024['lat'].str.replace(",", ".")
df_2024['long'] = df_2024['long'].str.replace(",", ".")
df_2024

,Num_Acc,jour,mois,an,hrmn,lum,dep,com,agg,int,atm,col,lat,long,catr,v1,circ,nbv,vosp,prof,pr,pr1,plan,larrout,surf,infra,situ,vma,id_usager,id_vehicule,num_veh,place,catu,grav,sexe,an_nais,trajet,secu1,secu2
0,202400000001,25,3,2024,07:40,2,70,70285,1,1,5,1,47.56277000,6.75832000,3,0,2,2,0,1,1,260,2,7,1,0,1,90,203 988 581,155 781 758,A01,1,1,3,1,2003.0,2,1,-1
1,202400000001,25,3,2024,07:40,2,70,70285,1,1,5,1,47.56277000,6.75832000,3,0,2,2,0,1,1,260,2,7,1,0,1,90,203 988 582,155 781 759,B01,1,1,1,1,1997.0,4,1,-1
2,202400000002,20,3,2024,15:05,1,21,21054,2,3,7,6,47.02109000,4.83755000,4,0,2,2,0,1,-1,-1,1,-1,9,0,1,30,203 988 579,155 781 757,A01,10,3,3,2,1927.0,5,0,-1
3,202400000002,20,3,2024,15:05,1,21,21054,2,3,7,6,47.02109000,4.83755000,4,0,2,2,0,1,-1,-1,1,-1,9,0,1,30,203 988 580,155 781 757,A01,1,1,1,1,1987.0,4,1,0
4,202400000002,20,3,2024,15:05,1,21,21054,2,3,7,6,47.02109000,4.83755000,4,0,1,1,0,1,-1,-1,1,-1,9,0,1,30,203 988 579,155 781 757,A01,10,3,3,2,1927.0,5,0,-1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
162543,202400054401,30,11,2024,15:40,1,92,92012,2,1,1,3,48.83286197,2.24394009,3,0,2,3,0,1,0,0,1,"10,5",1,0,1,50,203 859 570,155 686 119,Y01,1,1,4,2,1978.0,-1,0,0
162544,202400054401,30,11,2024,15:40,1,92,92012,2,1,1,3,48.83286197,2.24394009,3,0,2,3,0,1,0,0,1,"10,5",1,0,1,50,203 859 572,155 686 120,A01,1,1,1,1,1984.0,-1,2,6
162545,202400054402,10,7,2024,08:30,1,94,94028,2,1,1,4,48.78330000,2.46660000,3,0,1,2,0,2,0,0,1,-1,1,2,1,50,203 859 569,155 686 118,A01,1,1,4,1,1981.0,4,1,0
162546,202400054402,10,7,2024,08:30,1,94,94028,2,1,1,4,48.78330000,2.46660000,3,0,1,2,0,2,0,0,1,-1,1,2,1,50,203 859 571,155 686 121,B01,1,1,4,2,1986.0,9,1,0
162547,202400054402,10,7,2024,08:30,1,94,94028,2,1,1,4,48.78330000,2.46660000,3,0,1,2,0,2,0,0,1,-1,1,2,1,50,203 859 574,155 686 123,C01,1,1,1,1,1990.0,4,1,0

In [330]:
df_2024.dtypes

Num_Acc          int64
jour             int64
mois             int64
an               int64
hrmn            object
lum              int64
dep             object
com             object
agg              int64
int              int64
atm              int64
col              int64
lat             object
long            object
catr             int64
v1               int64
circ             int64
nbv             object
vosp             int64
prof             int64
pr              object
pr1             object
plan             int64
larrout         object
surf             int64
infra            int64
situ             int64
vma              int64
id_usager       object
id_vehicule     object
num_veh         object
place            int64
catu             int64
grav             int64
sexe             int64
an_nais        float64
trajet           int64
secu1            int64
secu2            int64
dtype: object

In [ ]:
"nbv","pr","pr1","larrout"

In [333]:
df_bis = df_2024.drop("Num_Acc", axis=1)
df_bis = df_bis.drop("hrmn", axis=1)
df_bis = df_bis.drop("dep", axis=1)
df_bis = df_bis.drop("com", axis=1)
df_bis = df_bis.drop("id_usager", axis=1)
df_bis = df_bis.drop("id_vehicule", axis=1)
df_bis = df_bis.drop("num_veh", axis=1)

In [334]:
df_bis

,jour,mois,an,lum,agg,int,atm,col,lat,long,catr,v1,circ,nbv,vosp,prof,pr,pr1,plan,larrout,surf,infra,situ,vma,place,catu,grav,sexe,an_nais,trajet,secu1,secu2
0,25,3,2024,2,1,1,5,1,47.56277000,6.75832000,3,0,2,2,0,1,1,260,2,7,1,0,1,90,1,1,3,1,2003.0,2,1,-1
1,25,3,2024,2,1,1,5,1,47.56277000,6.75832000,3,0,2,2,0,1,1,260,2,7,1,0,1,90,1,1,1,1,1997.0,4,1,-1
2,20,3,2024,1,2,3,7,6,47.02109000,4.83755000,4,0,2,2,0,1,-1,-1,1,-1,9,0,1,30,10,3,3,2,1927.0,5,0,-1
3,20,3,2024,1,2,3,7,6,47.02109000,4.83755000,4,0,2,2,0,1,-1,-1,1,-1,9,0,1,30,1,1,1,1,1987.0,4,1,0
4,20,3,2024,1,2,3,7,6,47.02109000,4.83755000,4,0,1,1,0,1,-1,-1,1,-1,9,0,1,30,10,3,3,2,1927.0,5,0,-1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
162543,30,11,2024,1,2,1,1,3,48.83286197,2.24394009,3,0,2,3,0,1,0,0,1,"10,5",1,0,1,50,1,1,4,2,1978.0,-1,0,0
162544,30,11,2024,1,2,1,1,3,48.83286197,2.24394009,3,0,2,3,0,1,0,0,1,"10,5",1,0,1,50,1,1,1,1,1984.0,-1,2,6
162545,10,7,2024,1,2,1,1,4,48.78330000,2.46660000,3,0,1,2,0,2,0,0,1,-1,1,2,1,50,1,1,4,1,1981.0,4,1,0
162546,10,7,2024,1,2,1,1,4,48.78330000,2.46660000,3,0,1,2,0,2,0,0,1,-1,1,2,1,50,1,1,4,2,1986.0,9,1,0
162547,10,7,2024,1,2,1,1,4,48.78330000,2.46660000,3,0,1,2,0,2,0,0,1,-1,1,2,1,50,1,1,1,1,1990.0,4,1,0

In [335]:
df_bis["nbv"] = df_bis["nbv"].astype(int)

ValueError: invalid literal for int() with base 10: '#VALEURMULTI'

In [336]:
df_bis["nbv"].unique()

array(['2', '1', '4', '0', '3', ' -1', '6', '8', '5', '9', '7',
       '#VALEURMULTI', '10', '12', '11'], dtype=object)

In [337]:
(df_bis["nbv"] == "#VALEURMULTI").sum()

np.int64(122)

In [342]:
df_bis["nbv"] = pd.to_numeric(df_bis["nbv"], errors="coerce")
df_bis.loc[df_bis["nbv"] > 1, "nbv"].mean()
df_bis["nbv"] = df_bis["nbv"].fillna(df_bis.loc[df_bis["nbv"] > 1, "nbv"].mean()).round().astype(int)

In [344]:
df_bis["pr"] = df_bis["pr"].astype(int)

ValueError: invalid literal for int() with base 10: '3\xa0591'

In [345]:
df_bis[df_bis["pr"].astype(str).str.contains("\xa0", na=False)]

,jour,mois,an,lum,agg,int,atm,col,lat,long,catr,v1,circ,nbv,vosp,prof,pr,pr1,plan,larrout,surf,infra,situ,vma,place,catu,grav,sexe,an_nais,trajet,secu1,secu2
2432,30,4,2024,1,2,3,1,3,43.28390000,5.46670000,4,0,-1,2,0,1,3 591,0,1,-1,1,0,1,50,1,1,4,1,1999.0,5,2,0
2433,30,4,2024,1,2,3,1,3,43.28390000,5.46670000,4,0,-1,2,0,1,3 591,0,1,-1,1,0,1,50,1,1,1,2,1956.0,5,1,8
2434,30,4,2024,1,2,3,1,3,43.28390000,5.46670000,4,0,2,2,0,1,3 591,0,1,-1,1,0,1,50,1,1,4,1,1999.0,5,2,0
2435,30,4,2024,1,2,3,1,3,43.28390000,5.46670000,4,0,2,2,0,1,3 591,0,1,-1,1,0,1,50,1,1,1,2,1956.0,5,1,8
2706,6,8,2024,5,1,1,1,5,14.61806000,-61.03440000,1,0,1,3,0,2,3 900,0,1,-1,1,0,1,90,1,1,3,1,1966.0,-1,2,6
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
148096,28,10,2024,1,2,2,1,3,43.36758500,5.64553500,3,0,1,0,0,1,3 950,0,1,0,1,0,1,50,1,1,3,2,2000.0,5,1,-1
157228,11,7,2024,1,2,9,1,3,43.25654000,5.37672000,4,0,3,5,1,1,1 232,0,1,-1,1,6,5,15,1,1,1,2,1998.0,5,8,0
157229,11,7,2024,1,2,9,1,3,43.25654000,5.37672000,4,0,3,5,1,1,1 232,0,1,-1,1,6,5,15,1,1,4,2,1998.0,5,8,0
160072,2,5,2024,5,2,1,2,6,43.29148000,5.48601000,9,0,1,1,0,1,8 965,0,4,-1,2,0,1,50,2,2,3,1,2004.0,5,1,8
160073,2,5,2024,5,2,1,2,6,43.29148000,5.48601000,9,0,1,1,0,1,8 965,0,4,-1,2,0,1,50,1,1,3,1,2004.0,5,1,8

In [351]:
df_bis["pr"] = (
    df_bis["pr"]
    .astype(str)
    .str.replace("\xa0", "", regex=False)  # espace insécable
    .str.replace(" ", "", regex=False)     # espace normal
    .astype(int)
)

In [352]:
df_bis["pr1"] = df_bis["pr1"].astype(int)
df_bis["larrout"] = df_bis["larrout"].astype(float)

ValueError: invalid literal for int() with base 10: '2\xa0218'

In [358]:
df_bis["pr1"] = (
    pd.to_numeric(
        df_bis["pr1"]
        .astype(str)
        .str.replace(r"\s+", "", regex=True),
        errors="coerce"
    )
    .astype("Int64")
)

In [359]:
df_bis["larrout"] = (
    df_bis["larrout"]
    .astype(str)
    .str.replace(",", ".", regex=False)
    .astype(float)
)

In [363]:
df_bis["lat"] = df_bis["lat"].astype(float)
df_bis["long"] = df_bis["long"].astype(float)

In [365]:
df_bis.dtypes

jour         int64
mois         int64
an           int64
lum          int64
agg          int64
int          int64
atm          int64
col          int64
lat        float64
long       float64
catr         int64
v1           int64
circ         int64
nbv          int64
vosp         int64
prof         int64
pr           int64
pr1          Int64
plan         int64
larrout    float64
surf         int64
infra        int64
situ         int64
vma          int64
place        int64
catu         int64
grav         int64
sexe         int64
an_nais    float64
trajet       int64
secu1        int64
secu2        int64
dtype: object